html{
  position: relative;
  min-height: 100%;
}

/* width */
::-webkit-scrollbar {
  width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.hidden{
  display: none;
}

/*main*/

.main-wrepper{
  overflow-x: hidden;
}

.main-no{
  position: absolute;
  left: 0;
  top: 0;
  width: 30px;
  height: 30px;
  background: gray;
  color: #fff;
  display: table;
  z-index: 3;
}

.main-no span{
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

.main-q{
  position: relative;
  width: 100%;
}

.qq{
  width: 100%;
  background: #f2f8fd;
  padding: 30px 10px 30px 10px;
}


.button-q{
  position: absolute;
  width: 100%;
  height: 5px;
  background: -webkit-gradient(linear, left top, left bottom, from(gainsboro), to(#ececec));
  background: -webkit-linear-gradient(gainsboro, #ececec);
  background: -o-linear-gradient(gainsboro, #ececec);
  background: linear-gradient(gainsboro, #ececec);
  bottom: 0;
  left: 0;
}

.ques{
  width: 20px;
  height: 20px;
  background: #3490dc;
  -webkit-border-radius: 20px;
          border-radius: 20px;
  position: absolute;
  right: 10px;
  bottom: -30px;
  cursor: pointer;
}

/*.ques::before{
  content: '';
  width: 2px;
  height: 40px;
  background: orange;
  position: absolute;
  bottom: 0;
}*/

.ques span{
  color: #fff;
}

.flex{
  display: table;
}

.flex span{
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.main-content{
  padding: 60px 20px 20px 20px;
}

.content-wrepper{
  width: auto;
  background: pink;
  margin: auto;;
}

/*main*/


/*kartu Edukasi*/

.kartu{
  background: orange url(/img/bg-kartu.png);
  -webkit-background-size: contain;
  background-size: contain;
  background-position: center;
  width: 200px;
  height: 300px;
  /*background: silver;*/
  position: relative;
  -webkit-box-shadow: 2px 2px 2px #00000054;
  box-shadow: 2px 2px 2px #00000054;
  border: 1px solid silver;
  margin-bottom: 30px;
  display: -webkit-inline-box;
  margin: 25px;
  margin-top: 100px;
}

.kardus-border{
  width: 40px;
  height: 40px;
  /*border-top: 10px solid #2d995b;
  border-left: 10px solid #38c172;*/
  border-top: 10px solid #2176bd;
  border-left: 10px solid #3490dc;
  position: absolute;
}

.kardus-left-top{
  left: 0;
  -webkit-transform: rotate(0deg) translate(-7px ,-7px);
  -ms-transform: rotate(0deg) translate(-7px ,-7px);
  transform: rotate(0deg) translate(-7px ,-7px);
}

.kardus-right-top{
  right: 0;
  -webkit-transform: rotate(90deg) translate(-7px ,-7px);
  -ms-transform: rotate(90deg) translate(-7px ,-7px);
  transform: rotate(90deg) translate(-7px ,-7px);
}

.kardus-left-bottom{
  left: 0;
  bottom: 0;
  -webkit-transform: rotate(-90deg) translate(-7px ,-7px);
  -ms-transform: rotate(-90deg) translate(-7px ,-7px);
  transform: rotate(-90deg) translate(-7px ,-7px);
}

.kardus-right-bottom{
  right: 0;
  bottom: 0;
  -webkit-transform: rotate(-180deg) translate(-7px ,-7px);
  -ms-transform: rotate(-180deg) translate(-7px ,-7px);
  transform: rotate(-180deg) translate(-7px ,-7px);
}

.kartu-q{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 85%;
  display: table;
}

.q-wrepper{
  width: 100%;
  display: table-cell;
  vertical-align: middle;
}

.kartu-a h1{
  color: silver;
  font-size: 60px;
  font-weight: bold;
  cursor: pointer;
  -webkit-transition: 0.1s ease;
  -o-transition: 0.1s ease;
  transition: 0.1s ease;
}

.kartu-a h1:hover{
  color: gray;
}

.kartu-des{
  padding: 0 5px 0 5px;
  text-align: center;
  line-height: 18px;
}

.kartu-s{
  position: absolute;
  bottom: 5px;
  width: 100%;
}

.kartu-s button{
  outline: none;
  background: #fff;
  -webkit-box-shadow: 2px 2px 2px #0000005c;
          box-shadow: 2px 2px 2px #0000005c;
}

.kartu-s button:focus{
  -webkit-box-shadow: 2px 2px 2px #0000005c;
          box-shadow: 2px 2px 2px #0000005c;
}

.kartu:hover .kardus-border{
  border-top: 10px solid #2176bd;
  border-left: 10px solid #3490dc;
}

.badge-kartu{
  padding: 8px 20px;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
  cursor:pointer;
}

.badge-kartu:hover{
  padding: 8px 25px;
}


.qs{
  position: fixed;
  width: 100%;
  height: 100%;
  background: #0000002e;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.qss{
  margin: auto;
  -webkit-transform: scale(1.3);
      -ms-transform: scale(1.3);
          transform: scale(1.3);
}

.qs-exit{
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
}

.qs-exit i{
  color: #fff;
  font-size: 30px;
}






/*kartu Edukasi*/


.copyright{
  position: absolute;
  bottom: 0;
  width: 100%;
}

.bg-ani{
  position: absolute;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.bg-ani img{
  position: absolute;
  right: -550px;
  opacity: 0.5;
  -webkit-animation: awan 120s linear infinite;
          animation: awan 120s linear infinite;
}

@-webkit-keyframes awan{
  0%{
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  100%{
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);

  }
}

@keyframes awan{
  0%{
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  100%{
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);

  }
}

.bg-footer{
  background-image: url(../img/bg-city.png);
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: repeat-x;
  position: absolute;
  z-index: 3;
  bottom: -20px;
  height: 120px;
  width: 100%;
  z-index: 1;
  opacity: 0.8;
  -webkit-animation: city 80s linear infinite;
  animation: city 100s linear infinite;
}

@-webkit-keyframes city{
  0%{
    background-position: 0px;
  }
  100%{
    background-position: -1000px;
  }
}

@keyframes city{
  0%{
    background-position: 0px;
  }
  100%{
    background-position: -1000px;
  }
}




#loader{
  background:#eae9e9;
  position: fixed;
  width: 100%;
  bottom: 0;
  top:0;
  z-index: 9998;
  text-align: center;
  padding-top:200px;
}
.footer{
  margin-top:50px;
}
.body-murid {
  background: -webkit-gradient(linear, left top, left bottom, from(#3490dc8c), to(#8fc9f914)), url(../img/bg-murid.png);
  background: -webkit-linear-gradient(#3490dc8c, #8fc9f914), url(../img/bg-murid.png);
  background: -o-linear-gradient(#3490dc8c, #8fc9f914), url(../img/bg-murid.png);
  background: linear-gradient(#3490dc8c, #8fc9f914), url(../img/bg-murid.png);
  background-repeat: no-repeat;
  position: absolute;
  bottom: 0;
  width: 100%;
  top: 0;
  -webkit-background-size: cover;
  background-size: cover;
  overflow-y: hidden;
}

.btn-ani

.btn{
  -webkit-transition-property: none;
  -o-transition-property: none;
  transition-property: none;
  color: #fff;
}
.btn-primary{
  border-bottom:7px solid #2176bd;
  border-right:5px solid #2176bd;
  border-top:3px solid #2176bd;
  border-left:3px solid #2176bd;
}
.btn-primary{
  border-bottom:7px solid #2176bd;
  border-right:5px solid #2176bd;
  border-top:3px solid #2176bd;
  border-left:3px solid #2176bd;
}
.btn-success{
  border-bottom:7px solid #2d995b;
  border-right:5px solid #2d995b;
  border-top:3px solid #2d995b;
  border-left:3px solid #2d995b;
}
.btn-danger{
  border-bottom:7px solid #c51f1a;
  border-right:5px solid #c51f1a;
  border-top:3px solid #c51f1a;
  border-left:3px solid #c51f1a;
}
.btn-secondary{
  border-bottom:7px solid #545454;
  border-right:5px solid #545454;
  border-top:3px solid #545454;
  border-left:3px solid #545454;
}
.btn-light{
  border-bottom:7px solid #dae0e5;
  border-right:5px solid #dae0e5;
  border-top:3px solid #dae0e5;
  border-left:3px solid #dae0e5;
}
.btn-dark{
  border-bottom:7px solid #1d2124;
  border-right:5px solid #1d2124;
  border-top:3px solid #1d2124;
  border-left:3px solid #1d2124;
}
.btn-info{
  border-bottom:7px solid #3f9ae5;
  border-right:5px solid #3f9ae5;
  border-top:3px solid #3f9ae5;
  border-left:3px solid #3f9ae5;
}

.btn{
  font-size: 20px;
}

.btn-xs{
  font-size: 12px;
  padding: 2px 10px;
}

.btn:hover{
  -webkit-transform: translateY(-3px);
  -ms-transform: translateY(-3px);
  transform: translateY(-3px);
}

.clear{
  clear:both;
}

.logo-murid{
  width: 250px;
  -webkit-animation: logo-murid 60s;
  animation: logo-murid 60s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
@-webkit-keyframes logo-murid {
  0% { -webkit-transform: translate(1px, 1px) rotate(0deg); transform: translate(1px, 1px) rotate(0deg); }
  10% { -webkit-transform: translate(-1px, -2px) rotate(-7deg); transform: translate(-1px, -2px) rotate(-7deg); }
  20% { -webkit-transform: translate(-3px, 0px) rotate(7deg); transform: translate(-3px, 0px) rotate(7deg); }
  30% { -webkit-transform: translate(3px, 2px) rotate(0deg); transform: translate(3px, 2px) rotate(0deg); }
  40% { -webkit-transform: translate(1px, -1px) rotate(7deg); transform: translate(1px, -1px) rotate(7deg); }
  50% { -webkit-transform: translate(-1px, 2px) rotate(-7deg); transform: translate(-1px, 2px) rotate(-7deg); }
  60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); transform: translate(-3px, 1px) rotate(0deg); }
  70% { -webkit-transform: translate(3px, 1px) rotate(-7deg); transform: translate(3px, 1px) rotate(-7deg); }
  80% { -webkit-transform: translate(-1px, -1px) rotate(7deg); transform: translate(-1px, -1px) rotate(7deg); }
  90% { -webkit-transform: translate(1px, 2px) rotate(0deg); transform: translate(1px, 2px) rotate(0deg); }
  100% { -webkit-transform: translate(1px, -2px) rotate(-7deg); transform: translate(1px, -2px) rotate(-7deg); }
}
@keyframes logo-murid {
  0% { -webkit-transform: translate(1px, 1px) rotate(0deg); transform: translate(1px, 1px) rotate(0deg); }
  10% { -webkit-transform: translate(-1px, -2px) rotate(-7deg); transform: translate(-1px, -2px) rotate(-7deg); }
  20% { -webkit-transform: translate(-3px, 0px) rotate(7deg); transform: translate(-3px, 0px) rotate(7deg); }
  30% { -webkit-transform: translate(3px, 2px) rotate(0deg); transform: translate(3px, 2px) rotate(0deg); }
  40% { -webkit-transform: translate(1px, -1px) rotate(7deg); transform: translate(1px, -1px) rotate(7deg); }
  50% { -webkit-transform: translate(-1px, 2px) rotate(-7deg); transform: translate(-1px, 2px) rotate(-7deg); }
  60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); transform: translate(-3px, 1px) rotate(0deg); }
  70% { -webkit-transform: translate(3px, 1px) rotate(-7deg); transform: translate(3px, 1px) rotate(-7deg); }
  80% { -webkit-transform: translate(-1px, -1px) rotate(7deg); transform: translate(-1px, -1px) rotate(7deg); }
  90% { -webkit-transform: translate(1px, 2px) rotate(0deg); transform: translate(1px, 2px) rotate(0deg); }
  100% { -webkit-transform: translate(1px, -2px) rotate(-7deg); transform: translate(1px, -2px) rotate(-7deg); }
}
.foto-murid{
  width: 120px;
  height: 120px;
  background: #FFF;
}
.foto-murid-text{
  height: 100%;
  width: 100%;
  vertical-align: middle;
}
.input-murid::-webkit-input-placeholder{
  color:#FFF;
}
.input-murid::-moz-placeholder{
  color:#FFF;
}
.input-murid:-ms-input-placeholder{
  color:#FFF;
}
.input-murid::-ms-input-placeholder{
  color:#FFF;
}
.input-murid::placeholder{
  color:#FFF;
}
.input-murid {
  max-width: 800px;
  margin: 0 auto;
  padding: 30px;
  position: relative;
  z-index: 1;
  text-align: center;
}
.input-murid:before {
  position: absolute;
  content: "";
  display: block;
  top: 0;
  height: 100%;
  z-index: -1;
}
.input-murid span {
  position: relative;
  display: inline-block;
  margin: 30px 10px;
}
.swing {
  display: inline-block;
  width: 215px;
  padding: 21px 0 21px 15px;
  font-weight: 400;
  color: #377D6A;
  background: #eceeef;
  border: 0;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  outline: 0;
  text-indent: 60px;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
.swing::-webkit-input-placeholder {
  color: #efefef;
  text-indent: 0;
  font-weight: 300;
}
.swing + label {
  display: inline-block;
  position: absolute;
  top: 0;
  color:#FFF;
  left: 0;
  padding: 9.5px 15px;
  text-shadow: 0 1px 0 rgba(19, 74, 70, 0.4);
  background: #3490dc;
  -webkit-border-top-left-radius: 3px;
  border-top-left-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
  -webkit-transform-origin: 2px 2px;
  -ms-transform-origin: 2px 2px;
  transform-origin: 2px 2px;
  -webkit-transform: rotate(0);
  -ms-transform: rotate(0);
  transform: rotate(0);
  -webkit-animation: swing-back .4s 1 ease-in-out;
  animation: swing-back .4s 1 ease-in-out;
}

@-webkit-keyframes swing {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  20% {
    -webkit-transform: rotate(116deg);
    transform: rotate(116deg);
  }
  40% {
    -webkit-transform: rotate(60deg);
    transform: rotate(60deg);
  }
  60% {
    -webkit-transform: rotate(98deg);
    transform: rotate(98deg);
  }
  80% {
    -webkit-transform: rotate(76deg);
    transform: rotate(76deg);
  }
  100% {
    -webkit-transform: rotate(82deg);
    transform: rotate(82deg);
  }
}

@keyframes swing {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  20% {
    -webkit-transform: rotate(116deg);
    transform: rotate(116deg);
  }
  40% {
    -webkit-transform: rotate(60deg);
    transform: rotate(60deg);
  }
  60% {
    -webkit-transform: rotate(98deg);
    transform: rotate(98deg);
  }
  80% {
    -webkit-transform: rotate(76deg);
    transform: rotate(76deg);
  }
  100% {
    -webkit-transform: rotate(82deg);
    transform: rotate(82deg);
  }
}
@-webkit-keyframes swing-back {
  0% {
    -webkit-transform: rotate(82deg);
    transform: rotate(82deg);
  }
  100% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
}
@keyframes swing-back {
  0% {
    -webkit-transform: rotate(82deg);
    transform: rotate(82deg);
  }
  100% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
}
.swing:focus,
.swing:active {
  color: #377D6A;
  text-indent: 0;
  background: #fff;
  -webkit-border-top-left-radius: 0;
  border-top-left-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  border-bottom-left-radius: 0;
}
.swing:focus::-webkit-input-placeholder,
.swing:active::-webkit-input-placeholder {
  color: #aaa;
}
.swing:focus + label,
.swing:active + label {
  -webkit-animation: swing 1.4s 1 ease-in-out;
  animation: swing 1.4s 1 ease-in-out;
  -webkit-transform: rotate(82deg);
  -ms-transform: rotate(82deg);
  transform: rotate(82deg);
}
.mainkan{
  background: #FFF;
  padding: 15px;
  width: 100px;
  height: 100px;
  -webkit-border-radius:100%;
  border-radius:100%;
  border-bottom:10px solid #DDD;
  cursor:pointer;
  -webkit-transition:width 1s;
  -o-transition:width 1s;
  transition:width 1s;
}
.mainkan:hover{
  background: #f7f7f7;
}
.mainkan img{
  width: 50px;
}
#nodata{
  top:-500px;
  position: absolute;
  width: 90%;
  -webkit-transition: top 0.5s;
  -o-transition: top 0.5s;
  transition: top 0.5s;
  z-index:1;
}
#fotomurid{
  background: #DDD;
  border:1px solid #DDD;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  padding: 8px;
}
.join-murid{
  width: 100px;
  height: 100px;
}
.sidebar-hal ul{
  padding: 0;
  list-style: none;
}
.sidebar-hal ul li a{
  color: #FFF;
}

/*tunggu*/

.murid-tunggu{
  height: 100%;
  position: absolute;
  width: 100%;
}

.murid-tunggu .copy{
  position: absolute;
  bottom: 2px;
  width: 100%;
}

.mt-content{
  margin: auto;
  padding: 20px;
  height: 100%;
  bottom:0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.mt-content img{
  max-width: 300px;
  display: block;
  margin: auto;
  width: 100%;
}

.mt-content h3{
  text-align: center;
  margin-top: 20px;
}

.murid-welcome{
  position: absolute;
  width: 100%;
  margin-top: 40px;
  text-align: center;
}

.murid-welcome h3{
  font-weight: bold;
}

/*tunggu*/

/*final main murid*/

.final-murid{
  width: 100%;
  height: 100%;
  padding: 20px;
  margin-bottom: 40px;
}

.final-skor{
  max-width: 300px;
  margin: auto;
}

.copy{
  position: absolute;
  bottom: 10px;
  width: 90%;
  margin: auto;
}

/*final main murid*/

.kartu-benar .kardus-border{
  border-top: 10px solid #2d995b;
  border-left: 10px solid #38c172;
}

.kartu-salah .kardus-border{
  border-top: 10px solid #E91E63;
  border-left: 10px solid #C2185B;
}
