@media (max-width: 1050px){
	.pencapaian{
		width: 700px;
	}
}

@media (max-width: 768px){
	.pencapaian{
		margin: -100px 20px 0 20px;
		width: auto
	}

	.halo-content{
		width: 100%;
		padding: 30px 20px;
	}

	.halo-box{
		transform: rotate(30deg) translateY(-15%) translateX(-300px);
	}
}

@media (max-width: 576px){
	.das-logo img {
		width: 100px;
		margin-left: -40px;
	}
}

@media (max-width: 480px){
	.content-wrepper{
		padding: 5px;
	}

	.halo-title h1{
		font-size: 40px;
		text-align: center;
	}

	.halo-title p{
		text-align: center;
	}

	.maskot{
		/*opacity: 0.5*/
		left: 10px
		bottom: 0;
	}

	.maskot img{
		width: 100px;
	}

	.maskot480{
		position: absolute;
	}

	.maskot480 img{
		width: 200px;
	}

	.home-logo img{
		width: 130px;
		margin-top: 20px;
	}

	.halo-content .nav li{
		margin-left: 15px;
	}
}


/*main g*/
@media (max-width: 1200px){
	.kartu{
		margin: 20px 20px;
	}
}

@media (max-width: 520px){
	.kartu{
		margin: 20px 10px;
		width: 150px;
		height: 230px;
	}

	.kartu-a h1{
		font-size: 40px;
	}

	.badge-kartu{
		margin-bottom: -3px;
		padding: 5px 20px
	}
}