html{
  position: relative;
  min-height: 100%;
}

.btn{
  -webkit-transition-property: none;
  -moz-transition-property: none;
  -o-transition-property: none;
  transition-property: none;
}
.btn-primary{
  border-bottom:7px solid #2176bd;
  border-right:5px solid #2176bd;
  border-top:3px solid #2176bd;
  border-left:3px solid #2176bd;
}
.btn-primary{
  border-bottom:7px solid #2176bd;
  border-right:5px solid #2176bd;
  border-top:3px solid #2176bd;
  border-left:3px solid #2176bd;
}
.btn-success{
  border-bottom:7px solid #2d995b;
  border-right:5px solid #2d995b;
  border-top:3px solid #2d995b;
  border-left:3px solid #2d995b;
}
.btn-danger{
  border-bottom:7px solid #c51f1a;
  border-right:5px solid #c51f1a;
  border-top:3px solid #c51f1a;
  border-left:3px solid #c51f1a;
}
.btn-secondary{
  border-bottom:7px solid #545454;
  border-right:5px solid #545454;
  border-top:3px solid #545454;
  border-left:3px solid #545454;
}
.btn-light{
  border-bottom:7px solid #dae0e5;
  border-right:5px solid #dae0e5;
  border-top:3px solid #dae0e5;
  border-left:3px solid #dae0e5;
}
.btn-dark{
  border-bottom:7px solid #1d2124;
  border-right:5px solid #1d2124;
  border-top:3px solid #1d2124;
  border-left:3px solid #1d2124;
}
.btn-info{
  border-bottom:7px solid #3f9ae5;
  border-right:5px solid #3f9ae5;
  border-top:3px solid #3f9ae5;
  border-left:3px solid #3f9ae5;
}
.clear{
  clear:both;
}