html{
  position: relative;
  min-height: 100%;
}

/* width */
::-webkit-scrollbar {
  width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

/*halo*/
.hidden{
  display: none;
}

.halo-wrepper{
  width: 100%;s
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#c4f0f7), to(white));
  background: -webkit-linear-gradient(#c4f0f7, white);
  background: -o-linear-gradient(#c4f0f7, white);
  background: linear-gradient(#c4f0f7, white);
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

.halo-box{
  width: 2000px;
  height: 1500px;
  background: -webkit-gradient(linear, left top, left bottom, from(#00FDA7), to(#00C9A7));
  background: -webkit-linear-gradient(#00FDA7, #00C9A7);
  background: -o-linear-gradient(#00FDA7, #00C9A7);
  background: linear-gradient(#00FDA7, #00C9A7);
  -webkit-transform: rotate(30deg) translateY(-25%) translateX(1200px);
  -ms-transform: rotate(30deg) translateY(-25%) translateX(1200px);
  transform: rotate(30deg) translateY(-25%) translateX(1200px);
  -webkit-border-radius: 500px;
  border-radius: 500px;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-box-shadow: #00000045 -2px 2px 10px;
  box-shadow: #00000045 -2px 2px 10px;
  z-index: 1;
  -webkit-transition: 1s ease;
  -o-transition: 1s ease;
  transition: 1s ease;
}

.halo-boxAnimated{
  -webkit-transform: rotate(30deg) translateY(-25%) translateX(100px);
  -ms-transform: rotate(30deg) translateY(-25%) translateX(100px);
  transform: rotate(30deg) translateY(-25%) translateX(100px);
}

.box-shape{
  width: 400px;
  height: 400px;
  background: #00000045;
  position: absolute;
  z-index: 2;
  top: 20px;
  right: 20px;
  -webkit-transform: rotate(-40deg);
  -ms-transform: rotate(-40deg);
  transform: rotate(-40deg);
  opacity: 0.11;
  -webkit-transition: 1.5s ease;
  -o-transition: 1.5s ease;
  transition: 1.5s ease;
}

.box-shapeAnimation{
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

button#masuk{
  color: #000;
}

.circle-1{
  width: 70px;
  height: 70px;
  background: #00000045;
  -webkit-border-radius: 70px;
  border-radius: 70px;
  opacity: 0.1;
  margin-left: 40%;
  position: absolute;
  z-index: 2;
  top: 200px;
  -webkit-transition: 1s ease;
  -o-transition: 1s ease;
  transition: 1s ease;
  -webkit-transform: translateY(-300px);
  -ms-transform: translateY(-300px);
  transform: translateY(-300px);
  opacity: 0;
}

.circle-1Animation{
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  opacity: 0.1;
}

.home-logo{
  position: absolute;
  z-index: 2;
}

.home-logo img{
  width: 220px;
  margin: 10px;
}

.maskot{
  position: absolute;
  z-index: 2;
  bottom: 50px;
  left: 75px;
  -webkit-transition: 1s ease;
  -o-transition: 1s ease;
  transition: 1s ease;
  -webkit-transform: translateX(-350px);
  -ms-transform: translateX(-350px);
  transform: translateX(-350px);
}

.maskotAnimated{
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}

.maskot img{
  width: 300px;
}

.halo-content{
  position: absolute;
  right: 0;
  top: 0;
  z-index: 3;
  width: 65%;
  padding: 30px 70px 20px 70px;
  -webkit-transform: translateX(400px);
  -ms-transform: translateX(400px);
  transform: translateX(400px);
  -webkit-transition: 1.3s ease;
  -o-transition: 1.3s ease;
  transition: 1.3s ease;
  opacity: 0;
}

.halo-contentAnimation{
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  opacity: 1;
}

.halo-content .nav li{
  list-style: none;
  float: left;
  margin-left: 40px;
}

.nav ul{
  margin-left: auto;
}

.nav li a{
 color: #000;
}

.nav li a:hover{
 text-decoration: none;
}

.halo-title{
  margin-top: 50px;
  /* padding-right: 20px; */
}

.halo-title h1{
  color: #fff;
  font-weight: bold;
  font-size: 50px;
}

.halo-title p{
  font-size: 18px;
  margin: 25px 0 25px 0;
}

.halo-title button{
  width: 150px;
  margin-left: 20px;
}

.bg-footer{
  background-image: url(../img/bg-city.png);
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: repeat-x;
  position: absolute;
  z-index: 3;
  bottom: -20px;
  height: 120px;
  width: 100%;
  z-index: 1;
  opacity: 0.5;
  -webkit-animation: city 80s linear infinite;
  animation: city 80s linear infinite;
}

.copyright{
  position: absolute;
  bottom: -5px;
  width: 100%;
  z-index: 4;
}


@-webkit-keyframes city{
  0%{
    background-position: 0px;
  }
  100%{
    background-position: -1000px;
  }
}


@keyframes city{
  0%{
    background-position: 0px;
  }
  100%{
    background-position: -1000px;
  }
}

.profile-upload{
  width: 100%;
}

.profile-upload img{
  width: 200px;
  margin: auto;
  display: block;
}

.modal#loginGuru .modal-content{
  border-top: 8px solid #38c172;
}

.modal#registerGuru .modal-content{
  border-top: 8px solid #3490dc;
}
















/*halo*/

/*das*/

#guru{
  margin-bottom: 70px;
}

.das-logo img{
  width: 200px;
}

.link{
  color: #fff;
}

.link:hover{
  text-decoration: none;
  color: #fff;
}

.das-wrepper{
  padding: 0 30px 0 30px;
}

.gameRun:hover{
  -webkit-transform: translateX(3px);
  -ms-transform: translateX(3px);
  transform: translateX(3px);
}

tr.detail{
  background: #f1f6f8;
}

.no{
  width: 1px !important;
}

.detail td{
  text-align: left;
}

.new-murid img{
  width: 50px;
  height: 50px;
  background: #ecececer;
}







/*das*/


/*kartu Edukasi*/

.kartu{
  background: orange url(/img/bg-kartu.png);
  -webkit-background-size: contain;
  background-size: contain;
  background-position: center;
  width: 200px;
  height: 300px;
  /*background: silver;*/
  position: relative;
  -webkit-box-shadow: 2px 2px 2px #00000054;
  box-shadow: 2px 2px 2px #00000054;
  border: 1px solid silver;
}

.kardus-border{
  width: 40px;
  height: 40px;
  border-top: 10px solid #212529;
  border-left: 10px solid #495057;
  position: absolute;
}

.kardus-left-top{
  left: 0;
  -webkit-transform: rotate(0deg) translate(-7px ,-7px);
  -ms-transform: rotate(0deg) translate(-7px ,-7px);
  transform: rotate(0deg) translate(-7px ,-7px);
}

.kardus-right-top{
  right: 0;
  -webkit-transform: rotate(90deg) translate(-7px ,-7px);
  -ms-transform: rotate(90deg) translate(-7px ,-7px);
  transform: rotate(90deg) translate(-7px ,-7px);
}

.kardus-left-bottom{
  left: 0;
  bottom: 0;
  -webkit-transform: rotate(-90deg) translate(-7px ,-7px);
  -ms-transform: rotate(-90deg) translate(-7px ,-7px);
  transform: rotate(-90deg) translate(-7px ,-7px);
}

.kardus-right-bottom{
  right: 0;
  bottom: 0;
  -webkit-transform: rotate(-180deg) translate(-7px ,-7px);
  -ms-transform: rotate(-180deg) translate(-7px ,-7px);
  transform: rotate(-180deg) translate(-7px ,-7px);
}

.kartu-q{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 85%;
  display: table;
}

.q-wrepper{
  width: 100%;
  display: table-cell;
  vertical-align: middle;
}

.kartu-a h1{
  color: silver;
  font-size: 60px;
  font-weight: bold;
}

.kartu-des{
  padding: 0 5px 0 5px;
  text-align: center;
  line-height: 18px;
}

.kartu-s{
  position: absolute;
  bottom: 5px;
  width: 100%;
}

.kartu-s button{
  outline: none;
  background: #fff;
  -webkit-box-shadow: 2px 2px 2px #0000005c;
  box-shadow: 2px 2px 2px #0000005c;
}

.kartu-s button:focus{
  -webkit-box-shadow: 2px 2px 2px #0000005c;
  box-shadow: 2px 2px 2px #0000005c;
}

.kartu:hover .kardus-border{
  border-top: 10px solid #2176bd;
  border-left: 10px solid #3490dc;
}

/*kartu Edukasi*/




/*profile*/

.content-wrepper{
  background: #fff;
  padding: 20px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow:0 1px 2px rgba(0,0,0,0.2);
  box-shadow:0 1px 2px rgba(0,0,0,0.2);
}

.profile-img img{
  width: 100%;
  max-width: 200px;
  margin: auto;
  display: block;
}

.profile-c{
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;;
}

.c-box span{
  font-size: 20px;
  color: #3490dc;
}

.table-fit{
  width: 30%;
  white-space: nowrap;
  background: #dadada;
  text-align: right;
}

.profile-button{
  width: 100%;
}

/*profile*/




#loader{
  background:#eae9e9;
  position: fixed;
  width: 100%;
  bottom: 0;
  top:0;
  z-index: 9998;
  text-align: center;
  padding-top:200px;
}
.footer{
  margin-top: 50px;
  position: absolute;
  width: 100%;
  bottom: 0;
}
.body-murid {
  background-image: url("../img/bg-murid.png");
  background-repeat: no-repeat;
  position: absolute;
  bottom: 0;
  width: 100%;
  top: 0;
  -webkit-background-size: cover;
  background-size: cover;
}
.body-tamu {
  background-image: url("../../img/object.png");
  background-repeat: no-repeat;
  position: absolute;
  bottom: 0;
  top: 0;
  -webkit-background-size: cover;
  background-size: cover;
}
.selamat-datang{
  color:#FFF;
  padding: 50px 30px 0 600px;
  text-align: right;
}
.selamat-datang h1{
  font-weight: 600;
  font-size:56px;
}
.selamat-datang button{
  font-size:25px;
  padding:10px 40px;
  margin:0 10px;
}
.selamat-datang p{
  padding: 10px;
  font-size:20px;
  background: rgba(0,0,0,0.5);
}
.navbar-dark .navbar-nav .nav-link{
  color: #FFF;
  text-transform: uppercase;
  font-size: 17px;
}
.navbar-dark .navbar-nav .nav-link:hover{
  color: #2d995b;
}
.navbar-dark .navbar-nav .nav-item{
  padding: 0 30px;
}
.btn{
  -webkit-transition-property: none;
  -o-transition-property: none;
  transition-property: none;
  color: #fff;
}
.btn-primary{
  border-bottom:7px solid #2176bd;
  border-right:5px solid #2176bd;
  border-top:3px solid #2176bd;
  border-left:3px solid #2176bd;
}
.btn-primary{
  border-bottom:7px solid #2176bd;
  border-right:5px solid #2176bd;
  border-top:3px solid #2176bd;
  border-left:3px solid #2176bd;
}
.btn-success{
  border-bottom:7px solid #2d995b;
  border-right:5px solid #2d995b;
  border-top:3px solid #2d995b;
  border-left:3px solid #2d995b;
}
.btn-danger{
  border-bottom:7px solid #c51f1a;
  border-right:5px solid #c51f1a;
  border-top:3px solid #c51f1a;
  border-left:3px solid #c51f1a;
}
.btn-secondary{
  border-bottom:7px solid #545454;
  border-right:5px solid #545454;
  border-top:3px solid #545454;
  border-left:3px solid #545454;
}
.btn-light{
  border-bottom:7px solid #dae0e5;
  border-right:5px solid #dae0e5;
  border-top:3px solid #dae0e5;
  border-left:3px solid #dae0e5;
}
.btn-dark{
  border-bottom:7px solid #1d2124;
  border-right:5px solid #1d2124;
  border-top:3px solid #1d2124;
  border-left:3px solid #1d2124;
}
.btn-info{
  border-bottom:7px solid #3f9ae5;
  border-right:5px solid #3f9ae5;
  border-top:3px solid #3f9ae5;
  border-left:3px solid #3f9ae5;
}

.btn{
  font-size: 20px;
}

.btn-xs{
  font-size: 12px;
  padding: 2px 10px;
}

.btn:hover{
  -webkit-transform: translateY(-3px);
  -ms-transform: translateY(-3px);
  transform: translateY(-3px);
}

.clear{
  clear:both;
}
.logo-murid{
  width: 250px;
  -webkit-animation: logo-murid 60s;
  animation: logo-murid 60s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
@-webkit-keyframes logo-murid {
  0% { -webkit-transform: translate(1px, 1px) rotate(0deg); transform: translate(1px, 1px) rotate(0deg); }
  10% { -webkit-transform: translate(-1px, -2px) rotate(-7deg); transform: translate(-1px, -2px) rotate(-7deg); }
  20% { -webkit-transform: translate(-3px, 0px) rotate(7deg); transform: translate(-3px, 0px) rotate(7deg); }
  30% { -webkit-transform: translate(3px, 2px) rotate(0deg); transform: translate(3px, 2px) rotate(0deg); }
  40% { -webkit-transform: translate(1px, -1px) rotate(7deg); transform: translate(1px, -1px) rotate(7deg); }
  50% { -webkit-transform: translate(-1px, 2px) rotate(-7deg); transform: translate(-1px, 2px) rotate(-7deg); }
  60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); transform: translate(-3px, 1px) rotate(0deg); }
  70% { -webkit-transform: translate(3px, 1px) rotate(-7deg); transform: translate(3px, 1px) rotate(-7deg); }
  80% { -webkit-transform: translate(-1px, -1px) rotate(7deg); transform: translate(-1px, -1px) rotate(7deg); }
  90% { -webkit-transform: translate(1px, 2px) rotate(0deg); transform: translate(1px, 2px) rotate(0deg); }
  100% { -webkit-transform: translate(1px, -2px) rotate(-7deg); transform: translate(1px, -2px) rotate(-7deg); }
}
@keyframes logo-murid {
  0% { -webkit-transform: translate(1px, 1px) rotate(0deg); transform: translate(1px, 1px) rotate(0deg); }
  10% { -webkit-transform: translate(-1px, -2px) rotate(-7deg); transform: translate(-1px, -2px) rotate(-7deg); }
  20% { -webkit-transform: translate(-3px, 0px) rotate(7deg); transform: translate(-3px, 0px) rotate(7deg); }
  30% { -webkit-transform: translate(3px, 2px) rotate(0deg); transform: translate(3px, 2px) rotate(0deg); }
  40% { -webkit-transform: translate(1px, -1px) rotate(7deg); transform: translate(1px, -1px) rotate(7deg); }
  50% { -webkit-transform: translate(-1px, 2px) rotate(-7deg); transform: translate(-1px, 2px) rotate(-7deg); }
  60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); transform: translate(-3px, 1px) rotate(0deg); }
  70% { -webkit-transform: translate(3px, 1px) rotate(-7deg); transform: translate(3px, 1px) rotate(-7deg); }
  80% { -webkit-transform: translate(-1px, -1px) rotate(7deg); transform: translate(-1px, -1px) rotate(7deg); }
  90% { -webkit-transform: translate(1px, 2px) rotate(0deg); transform: translate(1px, 2px) rotate(0deg); }
  100% { -webkit-transform: translate(1px, -2px) rotate(-7deg); transform: translate(1px, -2px) rotate(-7deg); }
}
.foto-murid{
  width: 120px;
  height: 120px;
  background: #FFF;
}
.foto-murid-text{
  height: 100%;
  width: 100%;
  vertical-align: middle;
}
.input-murid::-webkit-input-placeholder{
  color:#FFF;
}
.input-murid::-moz-placeholder{
  color:#FFF;
}
.input-murid:-ms-input-placeholder{
  color:#FFF;
}
.input-murid::-ms-input-placeholder{
  color:#FFF;
}
.input-murid::placeholder{
  color:#FFF;
}
.input-murid {
  max-width: 800px;
  margin: 0 auto;
  padding: 30px;
  position: relative;
  z-index: 1;
  text-align: center;
}
.input-murid:before {
  position: absolute;
  content: "";
  display: block;
  top: 0;
  height: 100%;
  z-index: -1;
}
.input-murid span {
  position: relative;
  display: inline-block;
  margin: 30px 10px;
}
.swing {
  display: inline-block;
  width: 215px;
  padding: 21px 0 21px 15px;
  font-weight: 400;
  color: #377D6A;
  background: #efefef;
  border: 0;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  outline: 0;
  text-indent: 60px;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
.swing::-webkit-input-placeholder {
  color: #efefef;
  text-indent: 0;
  font-weight: 300;
}
.swing + label {
  display: inline-block;
  position: absolute;
  top: 0;
  color:#FFF;
  left: 0;
  padding: 9.5px 15px;
  text-shadow: 0 1px 0 rgba(19, 74, 70, 0.4);
  background: #38c172;
  -webkit-border-top-left-radius: 3px;
  border-top-left-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
  -webkit-transform-origin: 2px 2px;
  -ms-transform-origin: 2px 2px;
  transform-origin: 2px 2px;
  -webkit-transform: rotate(0);
  -ms-transform: rotate(0);
  transform: rotate(0);
  -webkit-animation: swing-back .4s 1 ease-in-out;
  animation: swing-back .4s 1 ease-in-out;
}

@-webkit-keyframes swing {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  20% {
    -webkit-transform: rotate(116deg);
    transform: rotate(116deg);
  }
  40% {
    -webkit-transform: rotate(60deg);
    transform: rotate(60deg);
  }
  60% {
    -webkit-transform: rotate(98deg);
    transform: rotate(98deg);
  }
  80% {
    -webkit-transform: rotate(76deg);
    transform: rotate(76deg);
  }
  100% {
    -webkit-transform: rotate(82deg);
    transform: rotate(82deg);
  }
}

@keyframes swing {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  20% {
    -webkit-transform: rotate(116deg);
    transform: rotate(116deg);
  }
  40% {
    -webkit-transform: rotate(60deg);
    transform: rotate(60deg);
  }
  60% {
    -webkit-transform: rotate(98deg);
    transform: rotate(98deg);
  }
  80% {
    -webkit-transform: rotate(76deg);
    transform: rotate(76deg);
  }
  100% {
    -webkit-transform: rotate(82deg);
    transform: rotate(82deg);
  }
}
@-webkit-keyframes swing-back {
  0% {
    -webkit-transform: rotate(82deg);
    transform: rotate(82deg);
  }
  100% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
}
@keyframes swing-back {
  0% {
    -webkit-transform: rotate(82deg);
    transform: rotate(82deg);
  }
  100% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
}
.swing:focus,
.swing:active {
  color: #377D6A;
  text-indent: 0;
  background: #fff;
  -webkit-border-top-left-radius: 0;
  border-top-left-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  border-bottom-left-radius: 0;
}
.swing:focus::-webkit-input-placeholder,
.swing:active::-webkit-input-placeholder {
  color: #aaa;
}
.swing:focus + label,
.swing:active + label {
  -webkit-animation: swing 1.4s 1 ease-in-out;
  animation: swing 1.4s 1 ease-in-out;
  -webkit-transform: rotate(82deg);
  -ms-transform: rotate(82deg);
  transform: rotate(82deg);
}
.mainkan{
  background: #FFF;
  padding: 15px;
  width: 100px;
  height: 100px;
  -webkit-border-radius:100%;
  border-radius:100%;
  border-bottom:10px solid #DDD;
  cursor:pointer;
  -webkit-transition:width 1s;
  -o-transition:width 1s;
  transition:width 1s;
}
.mainkan:hover{
  background: #f7f7f7;
}
.mainkan img{
  width: 50px;
}




#nodata{
  top:-500px;
  position: absolute;
  width: 90%;
  -webkit-transition: top 0.5s;
  -o-transition: top 0.5s;
  transition: top 0.5s;
  z-index:1;
}
#fotomurid{
  background: #DDD;
  border:1px solid #DDD;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  padding: 8px;
}
.bg-guru{
  background-image: url("/img/object2.png");
  background-repeat: no-repeat;
  width: 100%;
  background-position: center;
  height: 400px;
}
.bg-guru .bg{
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.7);
  display: table;
}
.bg-guru .bg .konten{
  text-align:center;
  color: #FFF;
  display: table-cell;
  vertical-align: middle;
}
.pencapaian{
  width: 1000px;
  margin: auto;
  margin-top: -100px;
  background: #FFF;
  padding: 10px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow:0 10px 20px rgba(0,0,0,0.2);
  box-shadow:0 10px 20px rgba(0,0,0,0.2);
}
.pencapaian .card{
  height:200px;
}
.pencapaian .card .card-title{
  font-size:70px;
  color:#2d995b;
  font-weight: 600;
}
.media{
  cursor:pointer;
  margin: 10px 2px 2px 13px;
  display: inline-block;
  background:#ffffff;
  padding:15px;
  -webkit-border-radius:100%;
  border-radius:100%;
  border-bottom:5px solid #c5c5c5;
  color: #38c172;
}
.media:hover{
  border-bottom:none;
}

.media img{
  width: 40px;
  margin-bottom: 5px;
}

.media-view{
  margin-bottom:10px;
  border-radius:6px;
  border:8px solid #FFF;
  text-align:center;
  min-height: 100px;
  display: flex;
  width: 100%;
  align-items: center;
}

.media-view.data img, video, audio{
  width: 100%;
  border: 0;
  margin: 0;
}

.add-soal{
  padding: 0  50px;
}

.join-murid{
  width: 100px;
  height: 100px;
}
.sidebar-hal ul{
  padding: 0;
  list-style: none;
}
.sidebar-hal ul li a{
  color: #FFF;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  -webkit-border-radius: 15px;
  border-radius: 15px;
}
.btn-circle.btn-lg {
  width: 40px;
  height: 40px;
  padding: 5px 11px;
  font-size: 18px;
  line-height: 1.33;
  -webkit-border-radius: 25px;
  border-radius: 25px;
}


/*main*/

.main-wrepper{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.main-header{
  width: 100%;
  position: fixed;
  top: 0;
  width: 100%;
  background: #fff;
  min-height: 45px;
  z-index: 3;
}

.main-nomor{
  width: 50px;
  padding: 10px 0;
}

.main-nomor span{
  margin: 20px;
  font-size: 17px;
  font-weight: bold;
}

.main-time{
  position: absolute;
  width: 100%;
  top: 0;
  font-size: 20px;
  padding: 10px 0;
}

.main-q-wrepper{
  padding: 20px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  max-height: 250px;
  overflow-y: scroll;
  text-align: center;
  width: 800px;
}

.main-q-wrepper img{
  max-width: 500px;
  width: auto;
  display: block;
  margin: auto;
}

.main-q-wrepper span{
  width: 100%;
}

.main-q{
  font-size: 20px;
  text-align: center;
}

.main-q video, img, audio{
  display: block;
  clear: both;
  margin: auto;
  margin-bottom: 20px;
}

.main-progress{
  position: fixed;
  z-index: 2;
  bottom: 0;
  width: 100%;
  padding: 20px;
  background: #fff;
  z-index: 3;
}

.circle{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transform: translateX(30px);
  -ms-transform: translateX(30px);
  transform: translateX(30px);
}

.width100{
  width: 100%;
}

.progress-icon{
  position: absolute;
  top: -30px;
  right: -10px;
  z-index: 3;
  background: #2176bd;
  width: 30px;
  height: 30px;
  display: table;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

.progress-icon span{
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color: #fff;
}

.main-font{
  position: absolute;
  top: 15px;
  right: 5px;
  max-width: 300px;
}


.main-guru{
 position: absolute;
 width: 100%;
 z-index: 2;
 top: 0;
 left: 0;
 padding: 70px 30px 0 30px;
}

/*main*/

/*slider*/

.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background: #e8e7e7;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  -webkit-transition: opacity .2s;
  -o-transition: opacity .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #38c172;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #38c172;
  cursor: pointer;
}

/*slider*/

.width100{
  width: 100%;
}

.height100{
  height: 100%;
}

.progress-icon{
  position: absolute;
  top: -30px;
  right: -10px;
  z-index: 3;
  background: #2176bd;
  width: 30px;
  height: 30px;
  display: table;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

.progress-icon span{
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color: #fff;
}

.main-button {
  width: 100%;
  text-align: center;
  margin-bottom: 200px;
}


.main-font{
  position: absolute;
  top: 15px;
  right: 5px;
  max-width: 300px;
}

.p-q{
  background: gray;
  width: 200px;
  margin: auto;
  text-align: center;
  padding: 10px;

}




/*main*/

/*slider*/

.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background: #e8e7e7;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  -webkit-transition: opacity .2s;
  -o-transition: opacity .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #38c172;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #38c172;
  cursor: pointer;
}

/*slider*/


/*tunggu*/

.main-tunggu{
  bottom: 0;
  top:0;
  left:0;
  right:0;
  position: absolute;
  width: auto;
  overflow-x: hidden;
  margin: 20px;
  padding: 10px;
}

.s-box{
  -webkit-border-radius: 5px;
  border-radius: 5px;
  position: relative;
  background: #d6e9f8;
  -webkit-box-shadow: #00000026 -1px 1px 4px;
  box-shadow: #00000026 -1px 1px 4px;
}

.s-box img{
  height: 50px;
  margin-right: 10px;
  display: initial;
  margin-bottom: 0;
}

.close-icon{
  position: absolute;
  z-index: 4;
  right: 30px;
  height: 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.close-icon i{
  cursor:pointer;
  color:#3490dc;
  font-size: 20px;
}

.close-icon i:hover{
  color: #c51f1a;
}

.murid-wrepper{
  margin-bottom: 20px;
}

.btn-mulai{
  text-align: center;
}

.btn-mulai button{
  padding: 5px 60px;
}

.main-tunggu .copy{
  position: absolute;
  bottom: 2px;
  width: 100%;
}

/*tunggu*/


/*and q*/

.and-q{
  padding: 20px;
}

.statistik{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.box-s{
  background: attr(data-color);
  max-width: 100px;
  width: 100%;
  margin: 0 20px;
  -webkit-border-radius: 2px 2px 0 0;
  border-radius: 2px 2px 0 0;
  position: relative;
}

.box-s span{
  text-align: center;
  display: block;
  font-weight: bold;
  margin-top: -20px;
  -webkit-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  transition: 0.2s ease;
}

.box-s:hover span{
  margin-top: -30px;
}


/*and q*/

/*final main guru*/

.final-guru{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 20px;
}

.table td.fit, 
.table th.fit {
  white-space: nowrap;
  width: 1%;
}

.table td.c, 
.table th.c {
  text-align: center;
}

.final-guru .progress{
  width: 250px;
}


/*final main guru*/


/*main media*/

.main-media{
  background: rgb(56, 193, 114);
  height: fit-content;
}

/*main media*/

/*main nav*/

.main-nav {
  display: flex;
  position: absolute;
  right: 40px;
}

.main-nav ul{
  display: table;
}

.main-nav a{;
}

.main-nav li{
  list-style: none;
  float: left;
  color: #fff !important;
  margin: 10px 15px 0 15px;
}

.main-n a{
  color: #fff;
  font-size: 20px;
  padding:0;
}

/*main nav*/