<template>
  <div class="body-murid">
    <div class="bg-ani">
      <img :src="'/img/awan.png'" alt="">
    </div>
    <center>
      <img :src="'/img/logo.png'" alt="Kardus" class="logo-murid mt-5">
      <div class="input-murid">
        <span>
          <input class="swing" ref="kode" type="text" autocomplete="off" autofocus maxlength="10" placeholder="masukan kode kelas" /><label for="kode">Kode<br>Kelas</label>
        </span>
        <br>
        <span class="mainkan rounded-circle mt-5" @click="mainkan()">
          <img :src="'/img/mainkan.png'"alt="Mainkan"><br>
        </span>
      </div>
      <div class="bg-footer"></div>
      <div class="copyright">
        <p>© Copyright Fadigar Dev 2019</p>
      </div>
    </center>

    <div class="modal fade" v-if="datakelas.length > 0" id="modalmain" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle"><b>Kelas {{datakelas[0].kode}} Ditemukan!</b></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form method="post" onsubmit="return false">
            <div class="modal-body">
              <div class="form-group">
                <label for=""><b>Nama Pribadi/Tim</b></label>
                <input type="text" class="form-control" autocomplete="off" placeholder="siapa nama mu?" ref="nama">
              </div>
              <div class="form-group">
                <label for=""><b>Foto</b></label>
                <center>
                  <label id="fotomurid" for="forfoto">
                    <span class="m-5">Pilih Fotomu!</span>
                  </label>
                  <div v-if="input.foto">
                    <img :src="input.fotourl" alt="Foto Mu" width="200px">
                    <br><br>
                    {{input.pesan}}
                  </div>
                  <input type="file" id="forfoto" @change="tampilfoto" hidden accept="image/*">
                </center>
              </div>
            </div>
            <div class="modal-footer">
              <button type="submit" @click.prevent="main()" id="masukkekelas" class="btn btn-primary">MASUK</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    data(){
      return {
        datakelas:[],
        input:{
          foto:'',
          fotourl:'',
          pesan:''
        }
      }
    },
    methods:{
    mainkan(){ // PAS KLIK MULAI
      $("#loader").fadeIn(); // MUNCUL LOADING
      $("#loader #msg").html('<b>Sedang Mencari Kelas...</b>'); // LOADING MESSAGE NYARI KELAS
      axios.get('/kelasapi/kode/publik/'+this.$refs.kode.value).then(response => {
        this.datakelas = response.data;

        $("#loader").fadeOut(); // TUTUP LOADING
        $("#loader #msg").html(''); // TUTUP LOADING MESSAGE

        if (this.datakelas.length > 0) { // JIKA KELAS ADA DAN PUBLIK
          $(document).ready(function(){
            $("#modalmain").modal('show');
          });
        }
        else{ // JIKA KELAS TIDAK ADA ATAU PRIVASI
          alert('gagal');
        }
      }).catch(errors => { // JIKA KODE KELAS KOSONG
        $("#loader").fadeOut(); // TUTUP LOADING
        $("#loader #msg").html(''); // TUTUP LOADING MESSAGE
        alert('kode kelas belum diisi');
      });
    },
    tampilfoto(foto){
      var pesans = Array('Foto yang keren','Pilihan foto yang bagus','Wah, keren','Semoga beruntung','Foto yang keren','Foto yang unik','Mantap fotonya','Foto yang menarik','Bagus, kayaknya foto ini pembawa hoki','Foto yang sangat mengagumkan','Foto itu terlihat hebat','Foto yang cukup indah');
      this.input.pesan = pesans[Math.floor(Math.random()*pesans.length)];
      this.input.foto = foto.target.files[0];
      this.input.fotourl = URL.createObjectURL(this.input.foto);
    },
    main(){
      $("#masukkekelas").html('Sedang Masuk Ke Kelas...');
      $("#masukkekelas").attr('disabled','disabled');
      const fd = new FormData();
      fd.append('nama',this.$refs.nama.value);
      fd.append('foto',this.input.foto);
      fd.append('kode_kelas',this.datakelas[0].kode);
      axios.post('/muridapi',fd).then(response => { // Murid Berhasil Masuk Kelas
        $("#modalmain").modal('hide');
        this.$session.set('token',response.data.token);
        this.$session.set('kode_kelas',this.datakelas[0].kode);
        window.location = '/murid/'+this.datakelas[0].kode+'/siapmain';
      }).catch(error => { // Murid Gagal Masuk Kelas
        $("#masukkekelas").html('MASUK');
        $("#masukkekelas").removeAttr('disabled');
      });
    }
  },
  mounted(){
    $("#loader").fadeOut();
    if (this.$session.has('token')) {
      this.$router.push({name:'SiapMain',params:{kode:this.$session.get('kode_kelas')}});
    }
  }
}
</script>
