<template>
  <div class="final-murid">
		<div class="text-center mb-4 border-bottom border-info">
			<h3>Hasil Akhir</h3>
		</div>
		<div class="row">
			<div class="col-sm-6 mt-3">
				<div class="c100 center big" id="muridbenar">
					<span v-if="datahasil[0]">{{datahasil[0].benar}}</span>
					<div class="slice">
						<div class="bar"></div>
						<div class="fill"></div>
					</div>
				</div>
				<div class="text-center mt-3">
					<p>Jawaban Benar</p>
				</div>
			</div>

			<div class="col-sm-6 mt-3">
				<div class="c100 center big danger" id="muridsalah">
					<span v-if="datahasil[0]">{{datahasil[0].salah}}</span>
					<div class="slice">
						<div class="bar"></div>
						<div class="fill"></div>
					</div>
				</div>
				<div class="text-center mt-3">
					<p>Jawaban Salah</p>
				</div>
			</div>
		</div>

		<div class="final-skor mt-4">
			<div class="p-3 mb-2 rounded bg-dark text-white text-center">
				<b>Presentase : </b>
				<span>{{presentasebenar}}%</span>
			</div>
		</div>

		<!-- <div class="text-center mt-3">
			<button class="btn btn-danger btn-xs">Keluar</button>
		</div> -->

		<div class="text-black text-center copy">
			© 2019 Arsan Dev - KARDUS Kartu Edukasi
		</div>
	</div>
</template>

<script>
export default {
  data(){
    return{
      presentasebenar:'',
      presentasesalah:'',
      datahasil:[],
      datasaya:[],
    }
  },
  methods:{
    getdatasaya(){
      axios.get('/muridapi/token/'+this.$session.get('token')).then(response => {
        if (!response.data[0]) {
          this.$session.clear();
          this.$router.push({name:'Murid'});
        }
        this.datasaya = response.data;
        $("#loader").fadeOut();
      });
    },
      gethasil(){
        axios.get('/hasilapi/'+this.$session.get('token')).then(response => {
          this.datahasil = response.data;
          this.presentasebenar = Math.floor(response.data[0].benar/(+response.data[0].salah+response.data[0].benar)*100);
          this.presentasesalah = Math.floor(response.data[0].salah/(+response.data[0].salah+response.data[0].benar)*100);
          $("#muridbenar").addClass('p'+this.presentasebenar);
          $("#muridsalah").addClass('p'+this.presentasesalah);
        });
      }
  },
  mounted(){
    this.gethasil();
    setInterval(function(){
      this.getdatasaya();
    }.bind(this),5000);
    $("#loader").fadeOut();
  }
}
</script>
