<template>
<div class="main-wrepper">
	<div class="main-no">
		<span v-if="datasoal[0]">{{datasoal[0].nomor}}</span>
	</div>

	<div class="main-q">
		<div class="qq" style="display: none">
			<span>
				<img style="display:block" :src="'/media/'+datasoal[0].media" alt="Media Soal" width="400" v-if="media.file_type == 'jpeg' || media.file_type == 'png' || media.file_type == 'bmp' || media.file_type == 'svg' || media.file_type == 'gif' || media.file_type == 'png'">
				<video v-if="media.file_type === 'mp4' || media.file_tpe == '3gp' || media.file_type == 'avi' || media.file_type == 'webm' || media.file_type == 'mkv'" controls width="400"><source :src="'/media/'+datasoal[0].media">
				</video>
				<audio v-if="media.file_type == 'mp3' || media.file_type == 'wav'|| media.file_type == 'amr'" controls width="400"><source :src="'/media/'+datasoal[0].media">
				</audio><br>
				<span v-if="datasoal[0]">
					{{datasoal[0].soal}}
				</span>
			</span>
		</div>
		<div class="button-q">
			<div class="ques flex">
				<span>?</span>
			</div>
		</div>
	</div>

	<div class="main-content row justify-content-center">

		<div class="kartu a1" v-if="datasoal[0] && datasoal[0].a1">
			<div class="kardus-border kardus-left-top"></div>
			<div class="kardus-border kardus-right-top"></div>
			<div class="kardus-border kardus-left-bottom"></div>
			<div class="kardus-border kardus-right-bottom"></div>
			<div class="kartu-q">
				<div class="q-wrepper">
					<div class="kartu-a text-center mt-1">
						<h1 data-value="a1" @click="PilihJawaban('a1')">A</h1>
					</div>
					<div class="kartu-des">
						{{datasoal[0].a1}}
					</div>
				</div>
			</div>
			<div class="kartu-s text-center">
				<span class="badge badge-primary badge-kartu" @click="previewSoal('.a1')">Selengkapnya</span >
			</div>
		</div>

		<div class="kartu a2" v-if="datasoal[0] && datasoal[0].a2">
			<div class="kardus-border kardus-left-top"></div>
			<div class="kardus-border kardus-right-top"></div>
			<div class="kardus-border kardus-left-bottom"></div>
			<div class="kardus-border kardus-right-bottom"></div>
			<div class="kartu-q">
				<div class="q-wrepper">
					<div class="kartu-a text-center mt-1">
						<h1 data-value="a2" @click="PilihJawaban('a2')">B</h1>
					</div>
					<div class="kartu-des">
						{{datasoal[0].a2}}
					</div>
				</div>
			</div>
			<div class="kartu-s text-center">
				<span class="badge badge-primary badge-kartu" @click="previewSoal('.a2')">Selengkapnya</span >
			</div>
		</div>

		<div class="kartu a3" v-if="datasoal[0] && datasoal[0].a3">
			<div class="kardus-border kardus-left-top"></div>
			<div class="kardus-border kardus-right-top"></div>
			<div class="kardus-border kardus-left-bottom"></div>
			<div class="kardus-border kardus-right-bottom"></div>
			<div class="kartu-q">
				<div class="q-wrepper">
					<div class="kartu-a text-center mt-1">
						<h1 data-value="a3" @click="PilihJawaban('a3')">C</h1>
					</div>
					<div class="kartu-des">
						{{datasoal[0].a3}}
					</div>
				</div>
			</div>
			<div class="kartu-s text-center">
				<span class="badge badge-primary badge-kartu" @click="previewSoal('.a3')">Selengkapnya</span >
			</div>
		</div>

		<div class="kartu a4" v-if="datasoal[0] && datasoal[0].a4">
			<div class="kardus-border kardus-left-top"></div>
			<div class="kardus-border kardus-right-top"></div>
			<div class="kardus-border kardus-left-bottom"></div>
			<div class="kardus-border kardus-right-bottom"></div>
			<div class="kartu-q">
				<div class="q-wrepper">
					<div class="kartu-a text-center mt-1">
						<h1 data-value="a4" @click="PilihJawaban('a4')">D</h1>
					</div>
					<div class="kartu-des">
						{{datasoal[0].a4}}
					</div>
				</div>
			</div>
			<div class="kartu-s text-center">
				<span class="badge badge-primary badge-kartu" @click="previewSoal('.a4')">Selengkapnya</span >
			</div>
		</div>
		<div class="kartu a5" v-if="datasoal[0] && datasoal[0].a5">
			<div class="kardus-border kardus-left-top"></div>
			<div class="kardus-border kardus-right-top"></div>
			<div class="kardus-border kardus-left-bottom"></div>
			<div class="kardus-border kardus-right-bottom"></div>
			<div class="kartu-q">
				<div class="q-wrepper">
					<div class="kartu-a text-center mt-1">
						<h1 data-value="a5" @click="PilihJawaban('a5')">E</h1>
					</div>
					<div class="kartu-des" >
						{{datasoal[0].a5}}
					</div>
				</div>
			</div>
			<div class="kartu-s text-center">
				<span class="badge badge-primary badge-kartu" @click="previewSoal('.a5')">Selengkapnya</span >
			</div>
		</div>

		<div class="kartu a6" v-if="datasoal[0] && datasoal[0].a6">
			<div class="kardus-border kardus-left-top"></div>
			<div class="kardus-border kardus-right-top"></div>
			<div class="kardus-border kardus-left-bottom"></div>
			<div class="kardus-border kardus-right-bottom"></div>
			<div class="kartu-q">
				<div class="q-wrepper">
					<div class="kartu-a text-center mt-1">
						<h1 data-value="a6" @click="PilihJawaban('a6')">F</h1>
					</div>
					<div class="kartu-des">
						{{datasoal[0].a6}}
					</div>
				</div>
			</div>
			<div class="kartu-s text-center">
				<span class="badge badge-primary badge-kartu" @click="previewSoal('.a6')">Selengkapnya</span >
			</div>
		</div>

	</div>

	<div class="qs" style="display: none;">
		<div class="qss">
			<span>
				<div class="kartu">

					<!-- isi konten -->
				</div>
			</span>
		</div>
	</div>

</div>



</template>

<script>
	export default {
		data(){
			return{
				datasoal:[],
				datahasil:[],
				datasaya:[],
				datastatus:'',
				media:{
					file_type:''
				}
			}
		},
		methods:{
			gethasil(){
				axios.get('/hasilapi/'+this.$session.get('token')).then(response => {
					this.datahasil = response.data;
				});
			},
			getsoal(){
				axios.get('/soalapi/kodenomor/'+this.$route.params.kode+'/'+this.$route.params.nomor).then(response => {
					if (!response.data[0]) {
						window.location = '/murid/'+this.$route.params.kode+'/hasil';
					}
					this.datasoal = response.data;
						this.media.file_type = response.data[0].media.split('.').pop();
				});
			},
			getdatasaya(){
	      axios.get('/muridapi/token/'+this.$session.get('token')).then(response => {
	        if (!response.data[0]) {
	          this.$session.clear();
	          this.$router.push({name:'Murid'});
	        }
	        this.datasaya = response.data;
	        $("#loader").fadeOut();
	      });
	    },
			getrute(){
	      axios.get('/rutekelasapi/'+this.$session.get('kode_kelas')).then(response => {
					if (response.data[0].rute == '-1') {
						axios.put('/rutekelasapi/'+this.$session.get('kode_kelas'),{
							rute:'0'
						}).then(response => {
							this.$session.clear();
							this.$router.push({name:'Murid'});
						});
					}
	        if (response.data[0].rute != this.$route.params.nomor) {
						window.location = '/murid/'+this.$session.get('kode_kelas')+'/main/'+response.data[0].rute;
	        }
	      });
	    },
			previewSoal(anya){
				var konten = $(anya).find('.kartu-des').html();
				$.confirm({
					title: 'Jawaban',
					content: '',
					type: 'blue',
					typeAnimated: true,
					animation: 'scale',
					closeAnimation: 'scale',
					closeIcon: true,
					columnClass: 'm',
					buttons: false,
					onOpenBefore: function(){
						this.$content.html(konten);
					},
				});
			},
			PilihJawaban(q){
				axios.post('/jawabanapi',{
					id_murid: this.datasaya[0].id,
					id_soal: this.datasoal[0].id,
					jawaban:q
				});
				this.datastatus = q;
				if (q === this.datasoal[0].kunci) {
					axios.get('/hasilapi/benar/'+this.$session.get('token'));
					axios.get('/hasilsoalapi/benar/'+this.$route.params.kode+'/'+this.$route.params.nomor);
				}
				else{
					axios.get('/hasilapi/salah/'+this.$session.get('token'));
					axios.get('/hasilsoalapi/salah/'+this.$route.params.kode+'/'+this.$route.params.nomor);
				}
				var qs = $('.qs');
				var kartu = $('.'+q).html();
				qs.find('.kartu').html(kartu);
				$('.main-content .kartu').css({
					filter: 'blur(5px)'
				});
				qs.show();
			},
			getdatahasilsoal(){
	      axios.get('/hasilsoalapi/show/'+this.$route.params.kode+'/'+this.$route.params.nomor).then(response => {
					if (response.data[0].status === '1') {
						if (this.datastatus === this.datasoal[0].kunci) {
							$(".qss").addClass('kartu-benar');
						}
						else{
							$(".qss").addClass('kartu-salah');
						}
					}
	      });
	    },
		},
		mounted(){
			this.getsoal();
			this.gethasil();
			this.getdatasaya();
			setInterval(function(){
				this.getrute();
				this.getdatahasilsoal();
      }.bind(this),2000);
			$(document).ready(function(){
				$("#loader").fadeOut();

				$('.ques').click(function(){
					$('.qq').slideToggle(200);
				});


			});
		}
	}
</script>
