<template>
  <div class="murid-tunggu">
		<div class="loader loader-border is-active loader-tunggu"></div>

		<div class="murid-welcome">
			<h2>Selamat datang,</h2>
			<h3 v-if="datasaya[0]" style="color:#2176bd">{{datasaya[0].nama}}</h3>
      <span>Kamu berhasil masuk di kelas</span>
      <h3 v-if="datakelas[0]">{{datakelas[0].nama}}</h3>
		</div>

		<div class="mt-content">
			<img v-if="datasaya[0]" class="img-thumbnail" :src="'/img/murid/'+datasaya[0].foto" alt="Foto Profil">
		</div>



		<div class="text-black text-center copy">
			© 2019 Arsan Dev - KARDUS Kartu Edukasi
		</div>

	</div>
</template>

<script>
export default {
  data(){
    return{
      datasaya:[],
      datakelas:[]
    }
  },
  methods:{
    getdatasaya(){
      axios.get('/muridapi/token/'+this.$session.get('token')).then(response => {
        if (!response.data[0]) {
          this.$session.clear();
          this.$router.push({name:'Murid'});
        }
        this.datasaya = response.data;
        $("#loader").fadeOut();
      });
    },
    getrute(){
      axios.get('/rutekelasapi/'+this.$session.get('kode_kelas')).then(response => {
        if (response.data[0].rute != '0') {
            window.location = '/murid/'+this.$session.get('kode_kelas')+'/main/'+response.data[0].rute;
        }
      });
    },
    getdatakelas(){
      axios.get('/kelasapi/kode/kode/'+this.$session.get('kode_kelas')).then(response=> {
        this.datakelas = response.data;
      });
    }
  },
  mounted(){
    $("#loader").show();
    this.getdatakelas();
      setInterval(function(){
        this.getdatasaya();
        this.getrute();
      }.bind(this),2000);
  }
}
</script>
