<template>
  <div>
    <div class="modal fade" id="tambahkelas" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
     <div class="modal-dialog" role="document">
       <form onsubmit="return false" method="post">
         <div class="modal-content">
           <div class="modal-header">
             <h5 class="modal-title" id="exampleModalLongTitle">Buat Kelas Baru</h5>
             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
             </button>
           </div>
           <div class="modal-body">
             <div class="form-group">
               <label for=""><b>Kode</b></label>
               <input type="text" autocomplete="off" ref="kode" placeholder="buat kode kelas" maxlength="10" class="form-control">
             </div>
             <div class="form-group">
               <label for=""><b>Nama Kelas</b></label>
               <input type="text" autocomplete="off" ref="nama" class="form-control" placeholder="masukan nama kelas">
             </div>
             <div class="form-group">
               <label for=""><b>Kategori</b></label>
               <select class="form-control" ref="kategori">
                 <option value="">-PILIH KATEGORI KELAS-</option>
                 <option v-for="(k,index) in datakategori" :value="k.id" :key="index">{{k.nama_kategori}}</option>
               </select>
             </div>
           </div>
           <div class="modal-footer">
             <button type="reset" class="btn btn-danger">Reset</button>
             <button @click.prevent="tambahkelas()" id="tambahkelasbtn" type="submit" class="btn btn-success">Tambah</button>
           </div>
         </div>
       </form>
     </div>
   </div>

    <div class="bg-guru">
      <div class="bg">
        <div class="konten">
          Selamat Datang,
          <h1 v-if="dataguru[0]">{{dataguru[0].nama}}</h1>
        </div>
      </div>
    </div>
    <div class="pencapaian">
      <div class="row">
        <div class="col-md-4">
          <div class="card">
            <div class="card-body text-center">
              <h1 class="card-title mt-3">{{datakelasguru.length}}</h1>
              <p class="card-text">Total Kelas</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="card-body text-center">
              <h1 class="card-title mt-3">{{datasoal.length}}</h1>
              <p class="card-text">Soal dan Penjelasan</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="card-body text-center">
              <h1 class="card-title mt-3">{{murid.length}}</h1>
              <p class="card-text">Murid telah bergabung di kelas anda</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="das-wrepper mt-5">
      <div class="row">
        <div class="col-md-9">
          <div class="card">
            <div class="card-header bg-success text-white">
              <font size="5">Kelas Anda</font>
              <button class="btn btn-success btn-sm float-right" @click="buatkelasmodal()">+ Buat Kelas</button>
            </div>
            <div class="card-body">
              <div class="alert alert-warning" v-if="datakelasguru.length < 1">
                Anda belum membuat kelas satupun.
              </div>
              <table class="table text-center mb-0" v-if="datakelasguru">
                <thead>
                  <tr>
                    <th class="no">No.</th>
                    <th>Opsi</th>
                    <th>Nama Kelas</th>
                    <th>Kode</th>
                    <th>Kategori</th>
                    <th>Status</th>
                    <th>Mulai</th>
                  </tr>
                </thead>
                <tbody v-for="(kelas,index) in datakelasguru" :key="index">
                  <tr>
                    <td>{{index+1}}.</td>
                    <td><router-link title="Pengaturan" class="btn btn-success btn-xs" tag="button" :to="{name:'PengaturanKelas',params:{kode:kelas.kode}}"><i class="fa fa-gear"></i></router-link> <button class="btn btn-danger btn-xs" title="Hapus Kelas" @click="hapuskelas(kelas.kode)"><i class="fa fa-trash"></i></button></td>
                    <td>{{kelas.nama}}</td>
                    <td>{{kelas.kode}}</td>
                    <td>{{kelas.nama_kategori}}</td>
                    <td>
                      <button v-if="kelas.status === '1'" class="btn btn-primary btn-xs" title="Kelas ini siap dimainkan">Siap Bermain</button>
                      <button v-if="kelas.status === '0'" class="btn btn-secondary btn-xs" title="Masih dalam tahap pengeditan soal">Konsep</button>
                    </td>
                    <td>
                      <a :href="'/guru/kelas/'+kelas.kode+'/siapmain'" :hidden="kelas.status === '0'" class="btn btn-danger btn-circle btn-lg"><i class="fa fa-play"></i></a>
                      <br>
                      <router-link tag="button" class="btn btn-xs btn-info mt-3" :to="{name:'Soal',params:{kode:kelas.kode}}">Data Soal</router-link>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card">
            <div class="card-header bg-warning">
              Murid Terbaru
            </div>
            <div class="card-body">
              <table class="table">
                <thead>
                  <tr>
                    <th>Foto</th>
                    <th>Nama</th>
                    <th>Kode Kelas</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-if="murid.length < 1">
                    <td colspan="3"><div class="alert alert-warning">Belum ada murid yang pernah bermain di kelas anda</div></td>
                  </tr>
                  <tr v-for="(m,index) in murid" :key="index">
                    <td>
                      <span class="new-murid">
                        <img :src="'/img/murid/'+m.foto" :alt="'Foto Murid'+index+1">
                      </span>
                   </td>
                   <td>{{m.nama}}</td>
                   <td>{{m.kode_kelas}}</td>
                 </tr>
               </tbody>
             </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</template>

<script>
  export default {
    props:[
      'guru'
    ],
    data(){
      return{
        datakategori:[], //Data kategori untuk mendaftarkan kelas baru
        dataguru:[], // Data guru yang sedang login untuk welcome
        datakelasguru:[], // data seluruh kelas yang telah dibuat guru
        datasoal:[], // Data seluruh soal untuk dihitung jumlahnya
        murid:[] // Data murid si guru
      }
    },
    methods:{
    getsoal(){
      axios.get('/soalapi/guru/'+this.guru).then(response => {
        this.datasoal = response.data;
      });
    },
    getmurid(){
      axios.get('/muridapi/guru/'+this.guru).then(response => {
        this.murid = response.data;
      });
    },
    getguru(){
      axios.get('/userapi').then(response => {
        this.dataguru = response.data;
      });
    },
    getkategori(){
      axios.get('/kategoriapi').then(response => {
        this.datakategori = response.data;
      });
    },
    getkelas(){
      axios.get('/kelasapi/guru/'+this.guru).then(response => {
        this.datakelasguru = response.data;
        $("#loader").fadeOut();
      });
    },
    buatkelasmodal(){
      $("#tambahkelas").modal("show");
    },
    hapuskelas(kode_kelas){
      const respon =  confirm('Hapus kelas '+kode_kelas+' beserta seluruh soal didalamnya?');
      if (respon === true) {
        axios.delete('/kelasapi/'+kode_kelas).then(response => {
          this.getkelas();
          this.getmurid();
          this.getsoal();
        });
      }
    },
    tambahkelas(){
      $("#tambahkelasbtn").text('Sedang Membuat Kelas...');
      $("#tambahkelasbtn").attr('disabled','disabled');
      axios.post('/kelasapi',{
        'kode': this.$refs.kode.value,
        'nama': this.$refs.nama.value,
        'kategori': this.$refs.kategori.value
      }).then(response => {
        $("#tambahkelas").modal("hide");
        $("#tambahkelasbtn").text('Tambah');
        $("#tambahkelasbtn").removeAttr('disabled');
      }).catch(error => {
        $("#tambahkelasbtn").text('Tambah');
        $("#tambahkelasbtn").removeAttr('disabled');
      });
      this.getkelas();
    }
  },
  mounted(){
    document.title = 'Halo Guru!'+title;
    $("#loader").show();
    this.getguru();
    this.getkelas();
    this.getsoal();
    this.getmurid();
    this.getkategori();
  }
}
</script>
