<template>
  <div class="container mt-5" onload="loaded()">
    <div class="row">
      <div class="col-lg-8">
        <h1 v-if="datakelas[0]">{{datakelas[0].nama}}</h1>
        <hr>
        <form onsubmit="return false" method="post" enctype="multipart/form-data">
          <div class="form-group">
            <label for=""><b>Tulis Soal</b></label>
            <textarea v-model="input.soal" id="pertanyaan" class="form-control note" placeholder="masukan pertanyaan anda disini" rows="2" cols="80"></textarea>
          </div>
          <div class="form-group">
            <label for=""><b>Pilihan Jawaban</b></label>
            <select class="form-control mb-3" id="jumlahjawaban">
              <option value="2">2</option>
              <option value="4">4</option>
              <option value="6" selected>6</option>
            </select>
            <table class="table" id="pilihan_jawaban">
              <tr id="a1">
                <td>
                  <label><b>Jawaban A</b></label>
                  <textarea v-model="input.a1" ref="a1" autocomplete="off" id="piljaw" class="form-control note" cols="80" rows="2"></textarea>
                  <label for="kunci1">
                    <input v-if="datasoal[0]" v-model="input.kunci" class="mt-3" type="radio" name="kunci" id="kunci1" value="a1"> Benar
                  </label>
                </td>
              </tr>
              <tr id="a2">
                <td>
                  <label><b>Jawaban B</b></label>
                  <textarea v-model="input.a2" autocomplete="off" id="piljaw" class="form-control note" cols="80" rows="2"></textarea>
                  <label for="kunci2">
                    <input v-if="datasoal[0]" v-model="input.kunci" class="mt-3" type="radio" name="kunci" id="kunci2" value="a2"> Benar
                  </label>
                </td>
              </tr>
              <tr id="a3">
                <td>
                  <label><b>Jawaban C</b></label>
                  <textarea v-model="input.a3" autocomplete="off" id="piljaw" class="form-control note" cols="80" rows="2"></textarea>
                  <label for="kunci3">
                    <input v-if="datasoal[0]" v-model="input.kunci" class="mt-3" type="radio" name="kunci" id="kunci3" value="a3"> Benar
                  </label>
                </td>
              </tr>
              <tr id="a4">
                <td>
                  <label><b>Jawaban D</b></label>
                  <textarea v-model="input.a4" autocomplete="off" id="piljaw" class="form-control note" cols="80" rows="2"></textarea>
                  <label for="kunci4">
                    <input v-if="datasoal[0]" v-model="input.kunci" class="mt-3" type="radio" name="kunci" id="kunci4" value="a4"> Benar
                  </label>
                </td>
              </tr>
              <tr id="a5">
                <td>
                  <label><b>Jawaban E</b></label>
                  <textarea v-model="input.a5" autocomplete="off" id="piljaw" class="form-control note" cols="80" rows="2"></textarea>
                  <label for="kunci5">
                    <input v-if="datasoal[0]" v-model="input.kunci" class="mt-3" type="radio" name="kunci" id="kunci5" value="a5"> Benar
                  </label>
                </td>
              </tr>
              <tr id="a6">
                <td>
                  <label><b>Jawaban F</b></label>
                  <textarea v-model="input.a6" autocomplete="off" id="piljaw" class="form-control note" cols="80" rows="2"></textarea>
                  <label for="kunci6">
                    <input v-if="datasoal[0]" v-model="input.kunci" class="mt-3" type="radio" name="kunci" id="kunci6" value="a6"> Benar
                  </label>
                </td>
              </tr>
            </table>
          </div>
        </form>
        <div class="form-group">
          <label for=""><b>Penjelasan</b></label>
          <textarea v-model="input.penjelasan" placeholder="masukan penjelasan soal ini"  class="form-control note" rows="8" cols="80"></textarea>
        </div>
      </div>
      <div class="col-lg-4 text-white mt-4 pt-3 rounded" style="background:rgb(56, 193, 114);height:auto">
        <h3>Media</h3><hr>
        <input type="file" id="media" hidden @change="showmedia">
        <center>
          <label class="media" id="klikfoto" for="media"><img src="/img/ikon/input-foto.png" alt="Gambar"><br> Gambar</label>
          <label class="media" id="klikvideo" for="media">
            <img :src="'/img/ikon/input-video.png'" alt="Video"><br>Video</label>
          <label class="media" id="klikaudio" for="media">
            <img :src="'/img/ikon/input-suara.png'" alt="Audio"><br> Audio</label>
        </center><br><br>
        <div v-if="datasoal[0] && datasoal[0].media" style="margin-bottom:10px;border-radius:6px;border:8px solid #FFF;padding:100px;text-align:center">
          <button @click="deletemedia()" class="btn btn-danger btn-xs"><i class="fa fa-close"></i></button>
          <br>
          <a :href="'/media/'+datasoal[0].media" target="_blank" class="btn btn-secondary btn-xs">Klik Untuk Melihat Media Anda</a>
        </div>
        <div v-else style="margin-bottom:10px;border-radius:6px;border:8px solid #FFF;padding:100px;text-align:center">
          Media Akan Tampil Disini
        </div>
        <div v-if="media.file" style="margin-bottom:10px;border-radius:6px;border:8px solid #FFF;">
          <img v-if="media.type === 'image/jpeg' || media.type === 'image/bmp' || media.type === 'image/svg' || media.type === 'image/gif' || media.type === 'image/png'" :src="media.url" width="100%">
          <video v-if="media.type === 'video/mp4' || media.type === 'video/3gp' || media.type === 'video/avi' || media.type === 'video/webm' || media.type === 'video/mkv'" controls width="100%">
            <source :src="media.url">
            </video>
            <audio v-if="media.type === 'audio/mp3' || media.type === 'audio/wav'|| media.type === 'audio/amr'" controls width="100%">
              <source :src="media.url">
              </audio>
            </div>
          </div>
        </div>
        <button class="btn btn-success text-right btn-lg mt-3 md-2" @click.prevent="perbarui()">Perbarui Soal</button>
      </div>
    </template>

    <script>
      export default {
        data(){
          return{
            datakelas:[],
            datasoal:[],
            input:{
              soal:'',
              penjelasan:'',
              media:'',
              a1:'',
              a2:'',
              a3:'',
              a4:'',
              a5:'',
              a6:'',
              kunci:'',
            },
            media:{
              file:'',
              url:'',
              type:'',
            }
          }
        },
        methods:{
          deletemedia(){
            //beluman
          },
          getDataKelas(){
            axios.get('/kelasapi/kode/kode/'+this.$route.params.kode).then(response => {
              this.datakelas = response.data;
              $("#loader").fadeOut();
            });
          },
          getDataSoal(){
            axios.get('/soalapi/'+this.$route.params.id).then(response => {
              this.datasoal = response.data;
              if (this.datasoal.length < 1) {
                this.$router.push({name:'Soal'});
              }
              this.input.soal = response.data[0].soal;
              this.input.penjelasan = response.data[0].penjelasan;
              this.input.media = this.media.file;
              this.input.a1 = response.data[0].a1;
              this.input.a2 = response.data[0].a2;
              this.input.a3 = response.data[0].a3;
              this.input.a4 = response.data[0].a4;
              this.input.a5 = response.data[0].a5;
              this.input.a6 = response.data[0].a6;
              this.input.kunci = response.data[0].kunci;
            });
          },
          perbarui(){
            $("#loader").fadeIn();
            $("#loader #msg").html('Memperbarui soal di '+this.datakelas[0].nama);
            const fd = new FormData();
            fd.append('soal',this.input.soal);
            fd.append('penjelasan',this.input.penjelasan);
            fd.append('media',this.media.file);
            fd.append('a1',this.input.a1);
            fd.append('a2',this.input.a2);
            fd.append('a3',this.input.a3);
            fd.append('a4',this.input.a4);
            fd.append('a5',this.input.a5);
            fd.append('a6',this.input.a6);
            fd.append('kunci',this.input.kunci);
            axios.put('/soalapi/'+this.$route.params.id,fd).then(response => {
              this.$router.push({name:'Soal',params:{kode:this.$route.params.kode}});
              $("#loader #msg").html('Memuat...');
            }).catch(errror => {
              $("#loader").fadeOut();
              $("#loader #msg").html('Memuat...');
            });
          },
          showmedia(media){
            this.media.file = media.target.files[0];
            this.media.url = URL.createObjectURL(this.media.file);
            this.media.type = this.media.file.type;
          }
        },
        mounted(){
          document.title = 'Ubah Soal'+title;
          $("#loader").show();
          this.getDataKelas();
          this.getDataSoal();
          $("#jumlahjawaban").change(function(){
            const respon = confirm('Ubah jumlah pilihan jawaban?');
            if (respon === true) {
              $("#a1,#a2,#a3,#a4,#a5,#a6").attr('hidden','hidden');
              $("#a1 #piljaw,#a2 #piljaw,#a3 #piljaw,#a4 #piljaw,#a5 #piljaw,#a6 #piljaw").attr('readonly','readonly');
              for (var i = 1; i <= $(this).val(); i++) {
                $("#a"+i).removeAttr('hidden');
                $("#a"+i+" #piljaw").removeAttr('readonly');
              }
              $("#piljaw[readonly='readonly']").val('');
            }
          });
          $(document).ready(function(){

            $("#klikfoto").click(function(){
              $("#media").attr('accept','image/*');
            });
            $("#klikvideo").click(function(){
              $("#media").attr('accept','video/*');
            });
            $("#klikaudio").click(function(){
              $("#media").attr('accept','audio/*');
            });
          });
        }
      }
    </script>
