<template>
  <div class="final-guru">
		<div class="text-center m-3">
			<h1>Hasil</h1>
		</div>

		<table v-if="datahasil[0]" class="table table-striped table-bordered table-hover">
			<thead>
				<tr>
					<th class="no">No.</th>
					<th>Nama</th>
          <th class="fit">Benar</th>
					<th class="fit">Salah</th>
					<th class="fit">Rangking</th>
				</tr>
			</thead>
			<tbody>
				<tr v-for="(h,index) in datahasil" :key="index">
					<td class="c">{{index+1}}</td>
					<td>{{h.nama}}</td>
					<td class="c">{{h.benar}}</td>
					<td class="c">{{h.salah}}</td>
          <td class="c">
						<div class="progress">
							<div class="progress-bar" :style="'width:'+Math.floor(h.benar/(+h.salah+h.benar)*100)+'%;color:#000'" role="progressbar" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100">{{Math.floor(h.benar/(+h.salah+h.benar)*100)}}%</div>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
    <a href="javascript:" @click="selesai()" class="btn btn-success btn xs">Selesai</a>
	</div>
</template>

<script>
export default {
  data(){
    return{
      datahasil:[],
    }
  },
  methods:{
    gethasil(){
      axios.get('/hasilapi/hasil/semua/').then(response => {
        this.datahasil = response.data;
      });
    },
    selesai(){
      axios.get('/hasilsoalapi/reset/all');
      axios.get('/jawabanapi/delete/all/');
      axios.get('/muridapi/delete/all/'+this.$route.params.kode);
      axios.put('/rutekelasapi/'+this.$route.params.kode,{
        rute:'0'
      }).then(response => {
        window.location = '/guru';
      });
    }
  }
  ,
  mounted(){
    this.gethasil();
    $("#loader").fadeOut();
    $(".navbar,.footer").hide();
  }
}
</script>
