<template>

	<div class="main-wrepper">

		<div class="main-header border-bottom">
			<div class="main-nomor border-right">
				<span v-if="datasoal[0]">{{datasoal[0].nomor}}</span>
			</div>
			<div class="main-time text-center">
				<span id="time">00:00</span>
			</div>

			<div class="main-font">
				<div class="font-control">
					<div class="slidecontainer">
						<input onchange="mainFont(this)" type="range" min="10" max="100" value="20" class="slider" id="range-font">
					</div>
				</div>
			</div>
		</div>

		<div class="main-guru">
			<div class="main-guru-wrepper rounded">
				<div class="p-q text-white bg-dark">
					<span>{{datajawaban.length}} Menjawab</span>
				</div>

				<div class="main-q m-4 p-3  border rounded border-info">
					<img style="display:block" :src="'/media/'+datasoal[0].media" alt="Media Soal" width="400" v-if="media.file_type == 'jpeg' || media.file_type == 'png' || media.file_type == 'bmp' || media.file_type == 'svg' || media.file_type == 'gif' || media.file_type == 'png'">
					<video v-if="media.file_type === 'mp4' || media.file_tpe == '3gp' || media.file_type == 'avi' || media.file_type == 'webm' || media.file_type == 'mkv'" controls width="400"><source :src="'/media/'+datasoal[0].media">
					</video>
					<audio v-if="media.file_type == 'mp3' || media.file_type == 'wav'|| media.file_type == 'amr'" controls width="400"><source :src="'/media/'+datasoal[0].media">
					</audio>
					<span v-if="datasoal[0]">
						{{datasoal[0].soal}}
					</span>
				</div>

				<div class="main-button">
					<a @click="updatestatussoal()" :href="'/guru/kelas/'+this.$route.params.kode+'/main/'+this.$route.params.nomor+'/penjelasan'" class="btn btn-success">Lanjut</a>
				</div>

			</div>
		</div>

		<div class="main-progress border-top row">
			<div class="progress-icon">
				<span>
					<i class="fa fa-eye"></i>
				</span>
			</div>

			<!-- <div class="col-9 progress-view">
				<label for="">Benar</label>
				<div class="progress progress-benar mb-2">
					<div class="progress-bar bg-info" role="progressbar" style="width: 90%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
				</div>

				<label for="">Salah</label>
				<div class="progress progress-salah">
					<div class="progress-bar bg-danger" role="progressbar" style="width: 80%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
				</div>
			</div>
				</div>
			</div> -->

		</div>
	</div>

</template>

<script>
	export default {
		data(){
			return{
				datasoal:[],
				datajawaban:[],
				media:{
					file_type:''
				}
			}
		},
		methods:{
			updatestatussoal(){
				axios.get('/hasilsoalapi/update/status/'+this.$route.params.kode+'/'+this.$route.params.nomor);
			},
			getdatajawaban(){
				axios.get('/jawabanapi/kelas/'+this.$route.params.kode+'/'+this.$route.params.nomor).then(response => {
					this.datajawaban = response.data;
				});
			},
			getsoal(){
				axios.get('/soalapi/kodenomor/'+this.$route.params.kode+'/'+this.$route.params.nomor).then(response => {
					if (!response.data[0]) {
						window.location = '/guru/kelas/'+this.$route.params.kode+'/hasil';
					}
					this.datasoal = response.data;
					this.media.file_type = response.data[0].media.split('.').pop();
				});
			}
		},
		mounted(){
			this.getsoal();
			setInterval(function(){
				this.getdatajawaban();
			}.bind(this),1000);
			$("#loader").fadeOut();
			$(".navbar,.footer").hide();
			$(document).ready(function(){
				$('.progress-icon').click(function(){
					$('.progress-view').slideToggle(200)
				});

				// timer
				var angka = 0;
				var time1 = 0;
				var time2 = 0;
				setInterval(function(){
					var setTime = time1 += Number(1);
					if (setTime <= 60) {
						time1 = setTime;
					}else{
						time2 += 1;
						time1 = 0;
					}

					var time = time2 +':'+ time1;
					$('#time').text(time);
				}, 1000);

			});
		}
	}
</script>
