<template>
  <div class="container mt-5">
    <h1>Kelas: <b v-if="datakelas[0]">{{datakelas[0].nama}}</b></h1>
    <div class="card">
      <div class="card-header text-white bg-success">
        <h1>Ubah Pengaturan</h1>
      </div>
      <div class="card-body">
          <form onclick="return false" method="post">
            <b>Nama Kelas</b><br>
            <input v-if="datakelas[0]" ref="nama" type="text" :value="datakelas[0].nama" class="form-control">
            <hr>
            <b>Kategori</b><br>
            <select ref="kategori" class="form-control">
              <option v-if="datakelas[0]" v-for="(k,index) in kategori" :key="index" :value="k.id" :selected="datakelas[0].id_kategori === k.id">{{k.nama_kategori}}</option>
            </select>
            <hr>
            <b>Status Kelas</b><br>
            <input id="status" type="hidden" ref="status">
            <button style="display:none;" id="status1" class="btn btn-primary btn-xs">Siap Bermain</button>
            <button style="display:none;" id="status0" class="btn btn-secondary btn-xs">Konsep</button> *Tekan untuk mengubah
            <hr>
            <button type="submit" @click.prevent="ubah()" name="button" class="btn btn-success btn-sm float-right">Perbarui</button>
          </form>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data(){
    return {
      kategori:[],
      datakelas:[],
    }
  },
  methods:{
    ubah(){
      axios.put('/kelasapi/'+this.$route.params.kode,{
        'kode': this.$route.params.kode,
        'nama': this.$refs.nama.value,
        'kategori': this.$refs.kategori.value,
        'status': this.$refs.status.value,
      }).then(response => {
        alert('Berhasil mengubah kelas!');
      });
    },
    getDataKelas(){
      axios.get('/kelasapi/kode/kode/'+this.$route.params.kode).then(response => {
        this.datakelas = response.data;
        $("#loader").fadeOut();

        $(document).ready(function(){
          var status = response.data[0].status;
          $("#status"+status).show();
          $("#status1").click(function(){
            $(this).hide();
            $("#status0").show();
            $("#status").attr('value','0');
          });
          $("#status0").click(function(){
            $(this).hide();
            $("#status1").show();
            $("#status").attr('value','1');
          });
        });
      });
    },
    getKategori(){
      axios.get('/kategoriapi').then(response => {
        this.kategori = response.data;
      });
    }
  },
  mounted(){
    document.title = 'Pengaturan Kelas'+title;
    $("#loader").show();
    this.getDataKelas();
    this.getKategori();
  }
}
</script>
