<template>
  <div>
  <div class="and-q">
		<div class="and-q-wrepperq">
      <center>
        Jawaban
        <h2 v-if="datasoal[0].kunci === 'a1'">A. {{datasoal[0].a1}}</h2>
        <h2 v-if="datasoal[0].kunci === 'a2'">B. {{datasoal[0].a2}}</h2>
        <h2 v-if="datasoal[0].kunci === 'a3'">C. {{datasoal[0].a3}}</h2>
        <h2 v-if="datasoal[0].kunci === 'a4'">D. {{datasoal[0].a4}}</h2>
        <h2 v-if="datasoal[0].kunci === 'a5'">E. {{datasoal[0].a5}}</h2>
        <h2 v-if="datasoal[0].kunci === 'a6'">F. {{datasoal[0].a6}}</h2>
      </center>
			<div class="circle progress-view">
				<div class="row width100">
					<div class="col-6">
						<div class="c100 p100 center big">
							<span style="color:#307bbb" v-if="datahasilsoal[0]">{{datahasilsoal[0].benar}}</span>
							<div class="slice">
								<div class="bar"></div>
								<div class="fill"></div>
							</div>
						</div>
						<h4 class="text-center mt-2">Benar</h4>
					</div>
					<div class="col-6">
						<div class="c100 p100 danger big center">
							<span style="color:red" v-if="datahasilsoal[0]">{{datahasilsoal[0].salah}}</span>
							<div class="slice">
								<div class="bar"></div>
								<div class="fill"></div>
							</div>
						</div>
						<h4 class="text-center mt-2">Salah</h4>
					</div>
				</div>
			</div>

			<div class="button text-center mt-5">
				<button class="btn btn-primary" @click="lihatPenjelasan()">Lihat Penjelasan</button>
				<a @click="updaterute()" :href="'/guru/kelas/'+this.$route.params.kode+'/main/'+(+this.$route.params.nomor+1)" class="btn btn-success">Lanjut</a>
			</div>
		</div>
	</div>
  </div>
</template>

<script>
export default {
  data(){
    return{
      datasoal:[],
      datahasilsoal:[]
    }
  },
  methods:{
    getdatahasilsoal(){
      axios.get('/hasilsoalapi/show/'+this.$route.params.kode+'/'+this.$route.params.nomor).then(response => {
        this.datahasilsoal = response.data;
      });
    },
			updaterute(){
        axios.put('/rutekelasapi/'+this.$route.params.kode,{
          rute:(+this.$route.params.nomor+1)
        });
      },
      getsoal(){
				axios.get('/soalapi/kodenomor/'+this.$route.params.kode+'/'+this.$route.params.nomor).then(response => {
					this.datasoal = response.data;
					this.media.file_type = response.data[0].media.split('.').pop();
				});
			},
      statistikData(){
 			var ini = $('.ini').html();
 			$.confirm({
 				title: false,
 				content: ini,
 				type: 'blue',
 				typeAnimated: true,
 				animation: 'scale',
 				closeAnimation: 'scale',
 				closeIcon: true,
 				columnClass: 'l',
 				buttons: false,
 				onOpenBefore: function(){

 				},
 			});
 		},
 		 lihatPenjelasan(){
 			$.confirm({
 				title: false,
 				content: this.datasoal[0].penjelasan,
 				type: 'blue',
 				typeAnimated: true,
 				animation: 'scale',
 				closeAnimation: 'scale',
 				closeIcon: true,
 				columnClass: 'sm',
 				buttons: false,
 				onOpenBefore: function(){

 				},
 			});
 		}
  },
  mounted(){
    $(".navbar,.footer").hide();
    this.getsoal();
    this.getdatahasilsoal();
		$(document).ready(function(){

      $("#loader").fadeOut();
			$('.box-s').each(function(i, e) {
				var color = $(e).data('color');
				var val = $(e).data('val');
				$(e).find('span').text(val+'%');


				$(e).css({
					background: color,
					height: val+'px'
				});
			});


		});
  }
}
</script>
