<template>

<div class="container profile-wrepper mt-5">

  <div class="modal fade" id="ubahprofil">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Ubah Profil!</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <form onsubmit="return false" method="post">
          <div class="modal-body">
            <div class="form-group">
              <label for=""><b>Papan Nama</b></label>
              <input v-if="dataguru[0]" :value="dataguru[0].username" ref="username" required type="text" autocomplete="off" name="username" class="form-control" placeholder="Papan nama">
            </div>
            <div class="form-group">
              <label for=""><b>Nama Lengkap</b></label>
              <input v-if="dataguru[0]" :value="dataguru[0].nama" ref="nama" required type="text" autocomplete="off" class="form-control" name="nama" placeholder="Nama lengkap">
            </div>
            <div class="form-group">
              <label for=""><b>Jenis Kelamin</b></label><br>
              <div class="form-check-inline" for="pria">
                <label class="form-check-label">
                  <input v-if="dataguru[0]" v-model="ubah.jk" required value="1" id="pria" type="radio" name="jk" class="form-check-input"> Pria
                </label>
              </div>
              <div class="form-check-inline" for="wanita">
                <label class="form-check-label">
                  <input v-if="dataguru[0]" v-model="ubah.jk" required value="2" id="wanita" type="radio" name="jk" class="form-check-input"> Wanita
                </label>
              </div>
            </div>
            <div class="form-group">
              <label for=""><b>Tanggal Lahir</b></label>
              <input v-if="dataguru[0]" :value="dataguru[0].tanggal_lahir" ref="tanggal_lahir" type="date" required autocomplete="off" class="form-control" name="tanggal_lahir">
            </div>
            <div class="form-group">
              <label for=""><b>Email</b></label>
              <input v-if="dataguru[0]" :value="dataguru[0].email" ref="email" type="email" required autocomplete="off" class="form-control" placeholder="E-Mail" name="email">
            </div>
            <div class="form-group">
              <label for=""><b>Asal Sekolah/Instansi</b></label>
              <input v-if="dataguru[0]" :value="dataguru[0].instansi" ref="instansi" type="text" required autocomplete="off" class="form-control" placeholder="Sekolah/Instansi" name="instansi">
            </div>
            <div class="form-group">
              <label for=""><b>Jabatan</b></label>
              <input v-if="dataguru[0]" :value="dataguru[0].jabatan" ref="jabatan" type="text" autocomplete="off" class="form-control" placeholder="Jabatan anda?" name="jabatan">
            </div>
            <div class="form-group">
              <label for=""><b>Alamat</b></label>
              <textarea v-if="dataguru[0]" ref="alamat" class="form-control" autocomplete="off" rows="8" placeholder="Alamat" cols="80" name="alamat">{{dataguru[0].alamat}}</textarea>
            </div>
            <div class="form-group">
              <label><b>Foto</b></label><br>
              <label for="foto" class="profile-upload">
                <img v-if="dataguru[0]" :src="'../img/guru/'+dataguru[0].foto" id="img-view">
                <input v-if="dataguru[0]" id="foto" type="file" accept="image/*" @change="tampil_foto" name="foto" ref="foto" class="hidden">
              </label>
            </div>
          </div>
          <div class="modal-footer">
            <button class="btn btn-sm btn-success" type="submit" @click.prevent="ubah_profil()" name="daftar">Perbarui</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="content-wrepper">
       <div class="profile-img">
        <img class="img-thumbnail" v-if="dataguru[0]" :src="'../img/guru/'+dataguru[0].foto" alt="">
        <p class="text-center profile-name mt-2" v-if="dataguru[0]"><b>{{dataguru[0].nama}}</b><br><span v-if="dataguru[0]">({{dataguru[0].username}})</span></p>
        <div class="row text-center mt-3">

          <div class="col-4">
            <div class="c-box">
             <span v-if="datakelasguru">{{datakelasguru.length}}</span><br>
             <small>Kelas</small>
           </div>
         </div>

         <div class="col-4 border-left border-right">
          <div class="c-box">
           <span v-if="datasoal">{{datasoal.length}}</span><br>
           <small>Soal</small>
         </div>
       </div>

       <div class="col-4">
        <div class="c-box">
         <span v-if="murid">{{murid.length}}</span><br>
         <small>Murid</small>
       </div>
     </div>
   </div>
 </div>
</div>
</div>

<div class="col-md-8">
  <div class="content-wrepper">
    <table class="table table-bordered table-sm">
      <tbody>
        <tr>
          <td class="table-fit">Jenis kelamin</td>
          <td class="jk" v-if="dataguru[0]"><span class="badge badge-dark" v-if="dataguru[0].jk === '1'">Pria</span> <span class="badge badge-primary" v-if="dataguru[0].jk === '2'">Wanita</span></td>
        </tr>
        <tr>
          <td class="table-fit">Tanggal lahir</td>
          <td v-if="dataguru[0]">{{dataguru[0].tanggal_lahir}}</td>
        </tr>
        <tr>
          <td class="table-fit">E-Mail</td>
          <td v-if="dataguru[0]">{{dataguru[0].email}}</td>
        </tr>
        <tr>
          <td class="table-fit">Asal Sekolah/Instansi</td>
          <td v-if="dataguru[0]">{{dataguru[0].instansi}}</td>
        </tr>
        <tr>
          <td class="table-fit">Jabatan</td>
          <td v-if="dataguru[0]">{{dataguru[0].jabatan}}</td>
        </tr>
        <tr>
          <td class="table-fit">Alamat</td>
          <td v-if="dataguru[0]">{{dataguru[0].alamat}}</td>
        </tr>
      </tbody>
    </table>
    <div class="profile-button text-right">
      <button @click="showmodal()" class="btn btn-xs btn-info mt-3">Ubah Profil</button>
    </div>
  </div>
  <h4 class="mt-4">Ubah Kunci</h4><hr>
  <form onclick="return false" method="post">
    <b>Kunci Baru:</b><br>
    <input required ref="passwordbaru" type="password" placeholder="masukan kunci baru" class="input-kunci form-control">
    <b>Konfirmasi Kunci Baru:</b><br>
    <input required ref="passwordbaru2" type="password" placeholder="masukan kembali kunci baru" class="input-kunci form-control">
    <button type="submit" @click.prevent="ubah_password()" class="mt-3 btn btn-success btn-xs float-right">Ubah Kunci</button>
  </form>
</div>
</div>
</div>
</template>

<script>
  export default {
    props:['guru'],
    data(){
      return {
        dataguru:[], // data guru yang lagi login
        datakelasguru:[], // data seluruh kelas yang telah dibuat guru
        datasoal:[], // Data seluruh soal untuk dihitung jumlahnya
        murid:[], // Data murid si guru
        ubah:{
          jk:'',
          foto:'',
          fotourl:''
        }
      }
    },
    methods:{
      showmodal(){
        $("#ubahprofil").modal('show');
      },
      getguru(){
        axios.get('/userapi/').then(response => {
          this.dataguru = response.data;
          this.ubah.jk = response.data[0].jk;
          $("#loader").fadeOut();
        });
      },
      getsoal(){
        axios.get('/soalapi/guru/'+this.guru).then(response => {
          this.datasoal = response.data;
        });
      },
      getmurid(){
        axios.get('/muridapi/guru/'+this.guru).then(response => {
          this.murid = response.data;
        });
      },
      getkelas(){
        axios.get('/kelasapi/guru/'+this.guru).then(response => {
          this.datakelasguru = response.data;
        });
      },
      tampil_foto(foto){
        this.ubah.foto = foto.target.files[0];
        this.ubah.fotourl = URL.createObjectURL(this.ubah.foto);
        $("#img-view").attr('src',this.ubah.fotourl);
      },
      ubah_profil(){
        const fd = new FormData();
        fd.append('username',this.$refs.username.value);
        fd.append('nama',this.$refs.nama.value);
        fd.append('jk',this.ubah.jk);
        fd.append('tanggal_lahir',this.$refs.tanggal_lahir.value);
        fd.append('email',this.$refs.email.value);
        fd.append('instansi',this.$refs.instansi.value);
        fd.append('jabatan',this.$refs.jabatan.value);
        fd.append('foto',this.ubah.foto);
        fd.append('alamat',this.$refs.alamat.value);
        axios.post('/userapi/update_me',fd).then(response => {
          alert('Berhasil mengubah profil!');
          this.getguru();
          $("#ubahprofil").modal('hide');
        });
      },
      ubah_password(){
        axios.post('/userapi/update_pass',{
          'passwordbaru': this.$refs.passwordbaru.value,
          'passwordbaru2': this.$refs.passwordbaru2.value
        }).then(response => {
          alert('Kunci anda berhasil diubah!');
          $(".input-kunci").val('');
        });
      }
    },
    mounted(){
      $("#loader").show();
      this.getguru();
      document.title = this.guru+title;
      this.getsoal();
      this.getmurid();
      this.getkelas();
      }
    }
  </script>
