<template>
	<div class="main-tunggu mt-3 border">
		<div class="row">
			<div class="col-sm-7 border-right p-3">
				<h3>Ayo! Sebelum masuk kelas, baris dulu yang rapih!</h3>
				<div class="row">
					<div class="murid-wrepper col-6" v-for="(m,index) in datamurid" :key="index">
						<div class="close-icon">
							<span>
								<i @click="hapusmurid(m.id)" class="fa fa-close"></i>
							</span>
						</div>
						<div class="s-box border">
							<div class="s-content">
								<img :src="'/img/murid/'+m.foto">
								<span>{{m.nama}}</span>
							</div>
						</div>
					</div>

				</div>
			</div>

			<div class="col-sm-5">
				<div class="m-wrepper width100 mt-3">
					<center>KODE KELAS</center>
					<div class="p-2 mb-2 mt-2 rounded bg-dark text-white text-center">
						<h3>{{this.$route.params.kode}}</h3>
					</div>
					<div class="c100 p100 big mx-auto center mt-4">
						<span style="color:#3490dc">{{datamurid.length}}</span>
						<div class="slice">
							<div class="bar"></div>
							<div class="fill"></div>
						</div>
					</div>
					<h4  class="text-center mt-2">Total</h4>

					<!-- <div class="circle progress-view">
						<div class="row width100">
							<div class="col-6">
								<div class="c100 p22 center orange">
									<span>22%</span>
									<div class="slice">
										<div class="bar"></div>
										<div class="fill"></div>
									</div>
								</div>
								<h4  class="text-center mt-2">Pria</h4>
							</div>
							<div class="col-6">
								<div class="c100 p12 danger center">
									<span>12%</span>
									<div class="slice">
										<div class="bar"></div>
										<div class="fill"></div>
									</div>
								</div>
								<h4  class="text-center mt-2">Wanita</h4>
							</div>
						</div>
					</div> -->
				</div>
				<div class="btn-mulai">
					<a @click="updaterute()" :href="'/guru/kelas/'+this.$route.params.kode+'/main/1'" class="btn btn-primary mt-4">Mulai</a>
				</div>
			</div>

		</div>


		<div class="text-black text-center copy">
			© 2019 Arsan Dev - KARDUS Kartu Edukasi
		</div>
	</div>
</template>

<script>
	export default {
		data(){
			return{
				datamurid:[]
			}
		},
		methods:{
      updaterute(){
        axios.put('/rutekelasapi/'+this.$route.params.kode,{
          rute:'1'
        });
      },
			getmurid(){
				axios.get('/muridapi/kelas/'+this.$route.params.kode).then(response => {
					this.datamurid = response.data;
				});
			},
			hapusmurid(id){
				const respon = confirm('Keluarkan murid ini dari kelas anda?');
				if (respon === true) {
					axios.delete('/muridapi/'+id).then(response => {
						this.getmurid();
					});
				}
			}
		},
		mounted(){
			document.title = 'Siap Main'+title;
			$("#loader").fadeOut();
			$(".navbar,.footer").hide();
			setInterval(function(){
				this.getmurid();
			}.bind(this),1000);
		}
	}
</script>
