<template>
  <div class="container mt-3">
    <h1>Kelas: <b v-if="datakelas[0]">{{datakelas[0].nama}}</b></h1>
    <div class="card">
      <div class="card-header text-white bg-success">
        <router-link tag="a" class="float-right btn btn-success btn-sm" :to="{name:'TambahSoal',params:{kode:this.$route.params.kode}}">Tambah Soal</router-link>
        <h1>Data Soal</h1>
      </div>
      <div class="card-body">
        <table class="table table-bordered table-striped text-center">
          <thead>
            <tr>
              <th>No.</th>
              <th>Soal</th>
              <th>Media</th>
              <th width="200">Opsi</th>
            </tr>
          </thead>
          <tbody>
            <tr v-if="datasoal" v-for="(s,index) in datasoal" :key="index">
              <td>{{index+1}}.</td>
              <td>{{s.soal}}</td>
              <td v-if="s.media">
                <a :href="'/media/'+s.media" target="_blank" class="btn btn-secondary btn-xs">Klik Untuk Melihat Media Anda</a>
              </td>
              <td v-else><i class="fa fa-close" style="color:red"></i></td>
              <td>
                <button @click="previewSoal(s.id)" class="btn btn-primary btn-xs"><i class="fa fa-eye"></i></button>
                <router-link tag="button" :to="{name:'EditSoal',params:{kode:$route.params.kode,id:s.id}}" class="btn btn-success btn-xs"><i class="fa fa-edit"></i></router-link>
                <button class="btn btn-danger btn-xs" @click="hapus(s.id)"><i class="fa fa-trash"></i></button>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="alert alert-warning" v-if="datasoal.length === 0">
          Sepertinya belum ada soal satupun di kelas ini
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data(){
    return {
      datasoal:[], // DATA seluruh soal di kelas ini
      datakelas:[], // DATA kelas ini
    }
  },
  methods:{
    previewSoal(id_soal){
    $.confirm({
      title: '<b style="color: dark;">Detail Soal</b>',
      content: '',
      type: 'green',
      typeAnimated: true,
      animation: 'scale',
      closeAnimation: 'scale',
      closeIcon: true,
      columnClass: 'm',
      buttons: false,
      onOpenBefore: function(){
        axios.get('/soalapi/'+id_soal).then(response => {
          this.$content.html('<b>Soal:</b><br>'+response.data[0].soal+'<br><br><b>Penjelasan:</b></br>'+response.data[0].penjelasan+'<br><br><b>Pilihan Jawaban:</b><br>'+response.data[0].a1+'<br>'+response.data[0].a2+'<br>'+response.data[0].a3+'<br>'+response.data[0].a4+'<br>'+response.data[0].a5+'<br>'+response.data[0].a6);
        });
      },
    });
  },
    getkelas(){
      axios.get('/kelasapi/kode/kode/'+this.$route.params.kode).then(response => {
        this.datakelas = response.data
      });
    },
    getsoal(){
      axios.get('/soalapi/kelas/'+this.$route.params.kode).then(response => {
        this.datasoal = response.data
        $("#loader").fadeOut();
      });
    },
    hapus(id_soal){
      const respon = confirm('Hapus soal ini?');
      if (respon === true) {
        axios.delete('/soalapi/'+id_soal).then(response => {
          this.getsoal();
        });
      }
    }
  },
  mounted(){
    document.title = 'Data Soal'+title;
    $("#loader").show();
    this.getkelas();
    this.getsoal();
  }
}
</script>
