<template>
  <div class="mt-5 add-soal" onload="loaded()">
    <div class="row">
      <div class="col-lg-8">
        <h1 v-if="datakelas[0]">{{datakelas[0].nama}}</h1>
        <hr>
        <form onsubmit="return false" method="post" enctype="multipart/form-data">
          <div class="form-group">
            <label for=""><b>Tulis Soal</b></label>
            <textarea id="pertanyaan" ref="soal" class="form-control note" placeholder="masukan pertanyaan anda disini" rows="2" cols="80"></textarea>
          </div>
          <div class="form-group">
            <label for=""><b>Pilihan Jawaban</b></label>
            <select class="form-control mb-3" id="jumlahjawaban">
              <option value="2" selected>2</option>
              <option value="4">4</option>
              <option value="6">6</option>
            </select>
            <table class="table" id="pilihan_jawaban">
              <tr id="a1">
                <td>
                  <label><b>Jawaban 1</b></label>
                  <textarea ref="a1" autocomplete="off" id="piljaw" class="form-control note" cols="80" rows="2"></textarea>
                  <label for="kunci1">
                    <input v-model="kunci" class="mt-3" type="radio" name="kunci" id="kunci1" value="a1"> Benar
                  </label>
                </td>
              </tr>
              <tr id="a2">
                <td>
                  <label><b>Jawaban 2</b></label>
                  <textarea ref="a2" autocomplete="off" id="piljaw" class="form-control note" cols="80" rows="2"></textarea>
                  <label for="kunci2">
                    <input v-model="kunci" class="mt-3" type="radio" name="kunci" id="kunci2" value="a2"> Benar
                  </label>
                </td>
              </tr>
              <tr hidden id="a3">
                <td>
                  <label><b>Jawaban 3</b></label>
                  <textarea ref="a3" autocomplete="off" id="piljaw" class="form-control note" cols="80" rows="2"></textarea>
                  <label for="kunci3">
                    <input v-model="kunci" class="mt-3" type="radio" name="kunci" id="kunci3" value="a3"> Benar
                  </label>
                </td>
              </tr>
              <tr hidden id="a4">
                <td>
                  <label><b>Jawaban 4</b></label>
                  <textarea ref="a4" autocomplete="off" id="piljaw" class="form-control note" cols="80" rows="2"></textarea>
                  <label for="kunci4">
                    <input v-model="kunci" class="mt-3" type="radio" name="kunci" id="kunci4" value="a4"> Benar
                  </label>
                </td>
              </tr>
              <tr hidden id="a5">
                <td>
                  <label><b>Jawaban 5</b></label>
                  <textarea ref="a5" autocomplete="off" id="piljaw" class="form-control note" cols="80" rows="2"></textarea>
                  <label for="kunci5">
                    <input v-model="kunci" class="mt-3" type="radio" name="kunci" id="kunci5" value="a5"> Benar
                  </label>
                </td>
              </tr>
              <tr hidden id="a6">
                <td>
                  <label><b>Jawaban 6</b></label>
                  <textarea ref="a6" autocomplete="off" id="piljaw" class="form-control note" cols="80" rows="2"></textarea>
                  <label for="kunci6">
                    <input v-model="kunci" class="mt-3" type="radio" name="kunci" id="kunci6" value="a6"> Benar
                  </label>
                </td>
              </tr>
            </table>
          </div>
        </form>
        <div class="form-group">
          <label for=""><b>Penjelasan</b></label>
          <textarea ref="penjelasan" placeholder="masukan penjelasan soal ini"  class="form-control note" rows="8" cols="80"></textarea>
        </div>
      </div>
      <div class="col-lg-4 text-white mt-4 pt-3 rounded main-media">
        <h3>Media</h3><hr>
        <input type="file" id="media" hidden @change="showmedia">
        <center>
          <label class="media" id="klikfoto" for="media"><img src="/img/ikon/input-foto.png" alt="Gambar">Gambar</label>
          <label class="media" id="klikvideo" for="media">
            <img :src="'/img/ikon/input-video.png'" alt="Video">Video</label>
          <label class="media" id="klikaudio" for="media">
            <img :src="'/img/ikon/input-suara.png'" alt="Audio">Audio</label>
        </center><br><br>
        <div v-if="!media.file" class="media-view text-center">
          <span class="text-center width100">Media Akan Tampil Disini</span>
        </div>
        <div v-if="media.file" class="media-view data">
          <img v-if="media.type === 'image/jpeg' || media.type === 'image/bmp' || media.type === 'image/svg' || media.type === 'image/gif' || media.type === 'image/png'" :src="media.url">
          <video v-if="media.type === 'video/mp4' || media.type === 'video/3gp' || media.type === 'video/avi' || media.type === 'video/webm' || media.type === 'video/mkv'" controls>
            <source :src="media.url">
            </video>
            <audio v-if="media.type === 'audio/mp3' || media.type === 'audio/wav'|| media.type === 'audio/amr'" controls>
              <source :src="media.url">
              </audio>
            </div>
          </div>
        </div>
        <button class="btn btn-success text-right btn-lg mt-3 md-2" @click.prevent="buat()">Buat Soal</button>
      </div>
    </template>

    <script>
      export default {
        data(){
          return{
            datakelas:[],
            kunci:'',
            media:{
              file:'',
              url:'',
              type:'',
            }
          }
        },
        methods:{
          getDataKelas(){
            axios.get('/kelasapi/kode/kode/'+this.$route.params.kode).then(response => {
              this.datakelas = response.data;
              $("#loader").fadeOut();
            });
          },
          buat(){
            $("#loader").fadeIn();
            $("#loader #msg").html('Membuat soal di '+this.datakelas[0].nama);
            const fd = new FormData();
            fd.append('soal',this.$refs.soal.value);
            fd.append('penjelasan',this.$refs.penjelasan.value);
            fd.append('media',this.media.file);
            fd.append('a1',this.$refs.a1.value);
            fd.append('a2',this.$refs.a2.value);
            fd.append('a3',this.$refs.a3.value);
            fd.append('a4',this.$refs.a4.value);
            fd.append('a5',this.$refs.a5.value);
            fd.append('a6',this.$refs.a6.value);
            fd.append('kunci',this.kunci);
            fd.append('kode_kelas',this.$route.params.kode);
            axios.post('/soalapi',fd).then(response => {
              this.$router.push({name:'Soal',params:{kode:this.$route.params.kode}});
              $("#loader #msg").html('Memuat...');
            }).catch(errror => {
              $("#loader").fadeOut();
              $("#loader #msg").html('Memuat...');
            });
          },
          showmedia(media){
            this.media.file = media.target.files[0];
            this.media.url = URL.createObjectURL(this.media.file);
            this.media.type = this.media.file.type;
          }
        },
        mounted(){
          document.title = 'Tambah Soal'+title;
          $("#loader").show();
          this.getDataKelas();
          $("#jumlahjawaban").change(function(){
            const respon = confirm('Ubah jumlah pilihan jawaban?');
            if (respon === true) {
              $("#a1,#a2,#a3,#a4,#a5,#a6").attr('hidden','hidden');
              $("#a1 #piljaw,#a2 #piljaw,#a3 #piljaw,#a4 #piljaw,#a5 #piljaw,#a6 #piljaw").attr('readonly','readonly');
              for (var i = 1; i <= $(this).val(); i++) {
                $("#a"+i).removeAttr('hidden');
                $("#a"+i+" #piljaw").removeAttr('readonly');
              }
              $("#piljaw[readonly='readonly']").val('');
            }
          });
          $(document).ready(function(){

            $("#klikfoto").click(function(){
              $("#media").attr('accept','image/*');
            });
            $("#klikvideo").click(function(){
              $("#media").attr('accept','video/*');
            });
            $("#klikaudio").click(function(){
              $("#media").attr('accept','audio/*');
            });
          });
        }
      }
    </script>
