<template>
  <div class="halo-wrepper">
    <div class="home-logo">
      <img src="img/text-logo.png" alt="">
    </div>
    <div class="maskot">
      <img src="img/maskot.png" alt="">
    </div>
    <div class="halo-box"></div>
    <div class="box-shape"></div>
    <div class="circle-1"></div>
    <div class="halo-content">
      <div class="nav">
        <ul>
          <li>
            <a href="#">KONTAK</a>
          </li>
          <li>
            <a href="#">TENTANG</a>
          </li>
          <li>
            <a href="#">BANTUAN</a>
          </li>
        </ul>
      </div>

      <div class="halo-title text-right">
        <h1>Belajar inovatif, aktif, kreatif dan efektif</h1>
        <!-- <div class="maskot480">
          <img src="img/maskot.png" alt="">
        </div> -->
        <!-- <h4>Semakin siswa tertarik dalam proses pembelajaran maka tujuan dari pembelajaran pasti akan mudah dicapai dan tujuan pendidikan nasional akan dapat terwujud.</h4> -->
        <h4>Kini belajar dengan siswa jadi lebih asik dan interaktif dengan KARDUS. Tunggu apa lagi? Ayo gabung dengan kardus!</h4>
        <div class="text-right mt-5">
          <button class="btn btn-light" id="masuk" onclick="showModal('#loginGuru')">Masuk</button>
          <button class="btn btn-primary" id="daftar" onclick="showModal('#registerGuru')">Daftar</button>
        </div>
      </div>
    </div>
    <div class="bg-footer"></div>
    <div class="copyright text-center">
      <p>© 2019 Fadhigar Project - KARDUS Kartu Edukasi</p>
    </div>

    <!-- Modal login -->
    <div class="modal fade" id="loginGuru">
      <div class="modal-dialog">
        <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">Masuk dengan KARDUS!</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>

          <!-- Modal body -->
          <form action="" method="post">
            <div class="modal-body">
              <div class="modal-body">
                <center>
                  <img src="img/logo.png" alt="KARDUS" width="200">
                </center>
                <hr>
                <div class="alert alert-success" v-if="afterreg">{{afterreg}}</div>
                <div class="alert alert-danger" v-if="errorlogin">{{errorlogin}}</div>
                <div class="form-group">
                  <label for="inlineFormInputGroupPapanNama"><b>Papan Nama</b></label>
                  <div class="input-group mb-2">
                    <div class="input-group-prepend">
                      <div class="input-group-text"><img src="img/ikon/papan-nama.png" alt="Papan Nama" width="20"></div>
                    </div>
                    <input autocomplete="off" value="tegar" type="text" class="form-control"  name="username" id="inlineFormInputGroupPapanNama" placeholder="Papan nama">
                  </div>
                </div>
                <div class="form-group">
                  <label for="inlineFormInputGroup"><b>Kunci</b></label>
                  <div class="input-group mb-2">
                    <div class="input-group-prepend">
                      <div class="input-group-text"><img src="img/ikon/input-kunci.png" alt="Kunci" width="20"></div>
                    </div>
                    <input type="password" value="tegarsantosa" class="form-control" name="password" id="inlineFormInputGroup" placeholder="Kunci">
                  </div>
                </div>
              </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
              <button class="btn btn-sm btn-success" name="masuk">MASUK</button>
            </div>
          </form>

        </div>
      </div>
    </div>

    <!-- Modal register -->
    <div class="modal fade" id="registerGuru">
      <div class="modal-dialog">
        <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">Mulai bergabung dengan KARDUS!</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>

          <!-- Modal body -->
          <form onsubmit="return false" method="post">
            <div class="modal-body">
              <div class="form-group">
                <label for=""><b>Papan Nama</b></label>
                <input ref="username" required type="text" autocomplete="off" name="username" class="form-control" placeholder="Papan nama">
              </div>
              <div class="form-group">
                <label for=""><b>Kunci</b></label>
                <input ref="password" required type="password" autocomplete="off" name="password" class="form-control" placeholder="Kunci">
              </div>
              <div class="form-group">
                <label for=""><b>Nama Lengkap</b></label>
                <input ref="nama" required type="text" autocomplete="off" class="form-control" name="nama" placeholder="Nama lengkap">
              </div>
              <div class="form-group">
                <label for=""><b>Jenis Kelamin</b></label><br>
                <div class="form-check-inline" for="pria">
                  <label class="form-check-label">
                    <input v-model="jk" required value="1" id="pria" type="radio" name="jk" class="form-check-input"> Pria
                  </label>
                </div>
                <div class="form-check-inline" for="wanita">
                  <label class="form-check-label">
                    <input v-model="jk" required value="2" id="wanita" type="radio" name="jk" class="form-check-input"> Wanita
                  </label>
                </div>
              </div>
              <div class="form-group">
                <label for=""><b>Tanggal Lahir</b></label>
                <input ref="tanggal_lahir" type="date" required autocomplete="off" class="form-control" name="tanggal_lahir">
              </div>
              <div class="form-group">
                <label for=""><b>Email</b></label>
                <input ref="email" type="email" required autocomplete="off" class="form-control" placeholder="E-Mail" name="email">
              </div>
              <div class="form-group">
                <label for=""><b>Asal Sekolah/Instansi</b></label>
                <input ref="instansi" type="text" required autocomplete="off" class="form-control" placeholder="Sekolah/Instansi" name="instansi">
              </div>
              <div class="form-group">
                <label for=""><b>Jabatan</b> (opsional)</label>
                <input ref="jabatan" type="text" autocomplete="off" class="form-control" placeholder="Jabatan anda?" name="jabatan">
              </div>
              <div class="form-group">
                <label for=""><b>Alamat</b> (opsional)</label>
                <textarea ref="alamat" class="form-control" autocomplete="off" rows="8" placeholder="Alamat" cols="80" name="alamat"></textarea>
              </div>
              <div class="form-group">
                <label><b>Foto</b> (opsional)</label><br>
                <label for="foto" class="profile-upload">
                  <img src="img/no_img.png" id="img-view">
                  <input id="foto" type="file" accept="image/*" name="foto" ref="foto" @change="daftar_foto" class="hidden">
                </label>
              </div>
            </div>
            <div class="modal-footer">
              <button class="btn btn-sm btn-danger" type="reset">Reset</button>
              <button class="btn btn-sm btn-success" type="submit" @click.prevent="daftar()" name="daftar">Daftar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    props:[
    'errorlogin',
    ],
    data(){
      return {
        jk:'',
        afterreg:'',
        daftarfoto:'',
        daftarfotourl:'',
      }
    },
    methods:{
      daftar_foto(foto){
        this.daftarfoto = foto.target.files[0];
        this.daftarfotourl = URL.createObjectURL(this.daftarfoto);
      },
      daftar(){
        const fd = new FormData();
        fd.append('username',this.$refs.username.value);
        fd.append('password',this.$refs.password.value);
        fd.append('nama',this.$refs.nama.value);
        fd.append('jk',this.jk);
        fd.append('tanggal_lahir',this.$refs.tanggal_lahir.value);
        fd.append('email',this.$refs.email.value);
        fd.append('instansi',this.$refs.instansi.value);
        fd.append('jabatan',this.$refs.jabatan.value);
        fd.append('alamat',this.$refs.alamat.value);
        fd.append('foto',this.daftarfoto);
        axios.post('userapi',fd).then(response => {
          $("#registerGuru").modal("hide");
          $("#loginGuru").modal("show");
          this.afterreg = 'Berhasil Mendaftar! Masuk Sekarang!';
        });
      }
    },
    mounted(){
      if (this.errorlogin) {
        // tampilkanMasuk();
        $("#loginGuru").modal('show');
      }
      $('input#foto').change(function(){
        imgValidation();
      });
      $(document).ready(function(){
        $.getScript('/js/script.js');
        haloAnimation();
        homeHeight();
        var r = -40;
        $(window).mousemove(function(evt) {
          var rot = r += -1;
          console.log(rot);
          var change;
          var posX = evt.clientX;
          var posY = evt.clientY;
          var left = change * 20;
          var posX = posX * 2;
          posY = posY * 2;
          var x = (0+(posX/50))+'px';
          var y = (0+(posY/50))+'px';
          // console.log(y);
          $('.circle-1').css({
            transform: 'translate('+x+','+y+')',
            transition: '0s'
          });
          $('.box-shape').css({
            transform: 'rotate('+rot+'deg)',
            transition: '0.5s ease-out'
          });
        });
      });
    }
  }
</script>
